/* 
{-_-} 
*/
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content min-content auto;
  background: center/cover no-repeat url('../_/fon/_1.jpg');  
  margin: 0;  
  color: var(--let_tex);
}

/* 
  Menú
*/
body > aside {
  grid-row: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
  background-color: var(--fon_sec);  
}

/* 
  botonera : inicio + paneles + pantallas 
*/
body > aside.bot {
  grid-column: 1;
  padding: 0 .25rem;
}

/* 
  nagegadores 
*/
body > aside.nav {
  grid-column: 2;
}
body > aside.nav > :is(nav,article)[ide] {
  width: 400px;
}
body > aside.nav > :is(nav,article)[ide] > header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}
body > aside.nav > :is(nav,article)[ide] > header + * {
  max-height: 92.5vh;
  overflow: auto;
  padding: 0 .5rem;
}

/* Menù principal */
body > aside.nav > [ide="cab"] ul.lis.nav {
  height: 65vh;
}
/* índices */
body > aside.nav > [ide="art"] ul.lis.nav {
  height: 85vh;
}


/* 
  Seccion Principal
*/
body > main {
  grid-row: 1;
  grid-column: 3;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--fon_art);/* por barra de desplazamiento */  
  text-align: center;
}

body > main > header {
  background-color: var(--fon_sec);
}

/* contenido por articulos */
body > main > article {
  max-width: 55rem;
  height: max-content;
  padding: 0 2rem 2rem;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid var(--bor_sel);  
  background-color: var(--fon_sec);
  line-height: 1.5;
  font-size: 1.01rem;
}

/* 
  sidebar 
*/
body > aside.pan {
  grid-row: 1;
  grid-column: 4;
  overflow: auto;
}

/* 
  pie de página
*/
body > footer {
  grid-row: 2;
  grid-column: 1 / sp;
  padding: .5rem;
}


/*
  Pantallas
*/
[id="win"] {
  z-index: 9999;
  grid-row: 1 / sp;
  grid-column: 1 / sp;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
}

#win > article {  
  height: 80vh;
  width: 100%;
  max-width: 50rem;
  overflow: hidden;
  background-color: var(--fon_sec);
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  line-height: 1.5;
}
#win > article > header {    
  display: flex;
  flex-wrap: nowrap;
  height: 8%;
  justify-content: space-between;
  padding: .5rem;
}

#win > article > header + * {
  height: 92%;
  overflow-y: auto;
  overflow-x: hidden;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
Articulo
*/

/* Párrafos */
article > p,
article section > p{
  margin-bottom: .5rem;
}

/* Listados */
article > ul,
article section > ul {
  margin: 1rem auto;
}

/* Imagenes */
article > figure,
article section > figure {
  margin: 1rem;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
ABM de la base
*/
form.api_dat {
  width: 100%;
  max-width: 40rem;
  background-color: var(--fon_nav);
  border-radius: .5rem;
  padding: 0 .5rem;   
  margin: auto;
}

form.api_dat :is(fieldset,div).atr {
  flex-grow: 2;
  flex-direction: column;
  align-items: start;
  margin: .5rem;
}

form.api_dat :is(fieldset,div).atr label[for] {
  margin: 0;
  color: var(--let_ide);
  padding: .5rem;
}

form.api_dat :is(fieldset,div).atr select,
form.api_dat :is(fieldset,div).atr textarea,
form.api_dat :is(fieldset,div).atr input:not([type='checkbox']):not([type='radio']) {
  width: 100%; width:-webkit-fill-available; width:-moz-available;  
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
Estructura de Tabla
*/
div[var="est"] {
  height: 75vh;
  overflow: auto;
  padding: 0 .5rem;
  line-height: 1;
}

div[var="est"] > table {
  margin: 0 auto;
  text-align: center;
}

div[var="est"] > table > thead > tr:not(.gru) th,
div[var="est"] > table > tbody > tr:not([data-ope],[data-opc]) td {
  border-right: 1px dotted var(--col_vio);
}
/* Cabecera */
div[var="est"] > table > thead th {
  max-width: min-content;  
}
div[var="est"] > table > thead th > :is(p,span) {
  padding: .5rem;
}
/* Contenido */
div[var="est"] > table > tbody > tr:is([data-opc="tit"],[data-opc="det"]) {
  text-align: left; 
  line-height: 1.5;
}

div[var="est"] > table > tbody > tr[data-opc="tit"] > td {
  padding: .5rem 0;
  padding-bottom: .25rem;
}

div[var="est"] > table > tbody > tr[data-ope="lec"][data-opc="det"] > td {
  padding-top: .25rem;
}

div[var="est"] > table > tbody > tr > td > time {
  display: flex;
  max-width: fit-content;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
Tablero
*/
:is(div,table)[tab] {
  min-width: max-content;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;  
  text-align: center;
  font-size: .7rem;
  transition: background 1s, border 1s;  
}
div[tab] {
  display: grid;
  width: fit-content;
  align-self: center;
}

table[tab]{
  border-collapse: collapse;
}

/* posiciones y secciones */
:is(div,table)[tab] :is(div,td)[pos], 
:is(div,table)[tab] :is(div,td)[sec] {
  transition: background 1s, border 1s;
}

div[tab] div[pos]:not([tab]) {
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center; 
  justify-content: center;
  width: 100%;
  height: 100%;  
}

/* Bordes */
:is(div,table)[tab] :is(div,td)[pos].bor-1{
  border-color: #008000;
}/* por seleccion */
:is(div,table)[tab] :is(div,td)[pos][class*="_val-"][class*="-bor"] {  
  border: 2px solid #991d99;
}
/* fondos */
:is(div,table)[tab] :is(div,td)[pos][onclick]:not([tab]):hover {
  background-color:var(--tra_ros);
  color:black;
}
/* Fichas */
:is(div,table)[tab] :is([sec],[pos]) > [ima] {
  height: 100%;
  min-width: 100%;
}
/* textos */
:is(div,table)[tab] :is([sec],[pos]) > p {
  text-align: center;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media ( max-width: 1000px ){

  body {
    grid-template-columns: min-content auto;
  }

  body > main {
    grid-column: 2;
  }

  body > aside.nav {
    z-index: 9999;
    position: absolute;
    left: 2rem;
    top: 0;
    background-color: var(--fon_sec);
  }
}