/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
{-_-} 
*/
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content min-content auto;
  background: center/cover no-repeat url('../img/app/fon/01.jpg');  
  margin: 0;  
  color: var(--let_tex);
}

/* 
  Menú
*/
body > aside {
  grid-row: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
  background-color: var(--fon_sec);  
}

/* 
  botonera : inicio + paneles + pantallas 
*/
body > aside.bot {
  grid-column: 1;
  padding: 0 .25rem;
}

/* 
  nagegadores 
*/
body > aside.pan {
  grid-column: 2;
}
body > aside.pan > :is(nav,article)[ide] {
  width: 450px;
}
body > aside.pan > :is(nav,article)[ide] > header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}
body > aside.pan > :is(nav,article)[ide] > header + * {
  max-height: 92.5vh;
  overflow: auto;
  /* padding: 0 .5rem; */
}

/* Menù principal e índices */
body > aside.pan > :is([ide="cab"],[ide="art"]) ul.lis.nav {
  height: 85vh;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
  Seccion Principal
*/
body > main {
  grid-row: 1;
  grid-column: 3;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--fon_art);/* por barra de desplazamiento */  
  text-align: center;
}

body > main > header {
  background-color: var(--fon_sec);
}

/* contenido por articulos */

body > main > :is(nav,article,section) {
  width: 100%;
  max-width: 55rem;
  height: max-content;
  padding: 0 2rem 2rem;
  margin: .5rem auto;
  border-radius: 1rem;
  border: 1px solid var(--bor_sel);  
  background-color: var(--fon_sec);
  line-height: 1.5;
}

/* Párrafos */
body > main > article p,
body > main > article section > p {
  margin-bottom: .5rem;
}

/* Listados */
body > main > article > ul,
body > main > article section > ul {
  margin: .5rem auto;
}

/* Imagenes */
body > main > article > figure,
body > main > article section > figure {
  margin: 1rem auto;
}
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
  sidebar 
*/
body > aside.bar {
  grid-row: 1;
  grid-column: 4;
  overflow: auto;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
  pie de página
*/
body > footer {
  grid-row: 2;
  grid-column: 1 / sp;
  padding: .5rem;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/*
  Pantallas
*/
[id="win"] {
  z-index: 9999;
  grid-row: 1 / sp;
  grid-column: 1 / sp;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
}

#win > article {  
  height: 80vh;
  width: 100%;
  max-width: 50rem;
  overflow: hidden;
  background-color: var(--fon_sec);
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  line-height: 1.5;
}
#win > article > header {    
  display: flex;
  flex-wrap: nowrap;
  height: 8%;
  justify-content: space-between;
  padding: .5rem;
}

#win > article > header + * {
  height: 92%;
  overflow-y: auto;
  overflow-x: hidden;
}

#win > article > header + * > section {
  margin: 1rem;
  text-align: center;  
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
ABM de la base
*/
form._api-dat_val {
  width: 100%;
  max-width: 40rem;
  background-color: var(--fon_nav);
  border-radius: .5rem;
  padding: 0 .5rem;   
  margin: auto;
}

form._api-dat_val :is(fieldset,div).atr {
  flex-grow: 2;
  flex-direction: column;
  align-items: start;
  margin: .5rem;
}

form._api-dat_val :is(fieldset,div).atr label[for] {
  margin: 0;
  color: var(--let_ide);
  padding: .5rem;
}

form._api-dat_val :is(fieldset,div).atr select,
form._api-dat_val :is(fieldset,div).atr textarea,
form._api-dat_val :is(fieldset,div).atr input:not([type='checkbox']):not([type='radio']) {
  width: 100%; width:-webkit-fill-available; width:-moz-available;  
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
Tablero
*/
:is(div,table)[tab] {
  min-width: max-content;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;  
  text-align: center;
  font-size: .7rem;
  transition: background 1s, border 1s;  
}
div[tab] {
  display: grid;
  width: fit-content;
  align-self: center;
}

table[tab]{
  border-collapse: collapse;
}

/* posiciones y secciones */
:is(div,table)[tab] :is(div,td)[pos], 
:is(div,table)[tab] :is(div,td)[sec] {
  transition: background 1s, border 1s;
}

div[tab] div[pos]:not([tab]) {
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center; 
  justify-content: center;
  width: 100%;
  height: 100%;  
}

/* Bordes */
:is(div,table)[tab] :is(div,td)[pos].bor-1{
  border-color: #008000;
}
/* por seleccion */
:is(div,table)[tab] :is(div,td)[pos][class*="_val-"][class*="-bor"] {
  border: 1px solid #991d99;
}
/* fondos */
:is(div,table)[tab] :is(div,td)[pos][onclick]:not([tab]):hover {
  background-color:var(--tra_ros);
  color:black;
}
/* Fichas */
:is(div,table)[tab] :is([sec],[pos]) > [ima] {
  height: 100%;
  min-width: 100%;
}
table[tab] td:is([sec],[pos]) > [ima] {
  min-height: 100%;  
}
/* textos */
:is(div,table)[tab] :is([sec],[pos]) > p {
  text-align: center;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media ( max-width: 1000px ){

  body {
    grid-template-columns: min-content auto;
  }

  body > main {
    grid-column: 2;
    padding: 0 1rem;
  }

  body > aside.pan {
    z-index: 9999;
    position: absolute;
    left: 2rem;
    top: 0;
    background-color: var(--fon_sec);
  }

  div[var="est"] {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media ( max-width: 800px ){

  div[var="est"] {
    max-width:700px;
  }
}
@media ( max-width: 700px ){

  div[var="est"] {
    max-width: 600px;
  }
}
@media ( max-width: 600px ){

  div[var="est"] {
    max-width: 500px;
  }
}
@media ( max-width: 500px ){

  div[var="est"] {
    max-width: 400px;
  }

}
@media ( max-width: 400px ){

  div[var="est"] {
    max-width: 300px;
  }

}