/* 
{-_-} 
*/
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: center/cover no-repeat url('../img/app/fon/01.jpg');  
  color: var(--let_tex);
  margin: 0;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  botonera : inicio + paneles + pantallas 
*/
body > header.app_bot {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  background-color: var(--fon_sec);
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*
  Pantallas
*/
body > section.app_win {  
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0,0,0,.8);  
  text-align: center;
  animation: dis-ver .5s;
}
body > section.app_win > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 70vh;
  width: 95%;
  max-width: 50rem;
  overflow: hidden;  
  background-color: var(--fon_sec);
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  line-height: 1.5;
  animation: dis-ver 1s, dis-ver-tam .5s;
}
body > section.app_win > article > header {    
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  padding: .25rem;
  height: 3rem;
}
body > section.app_win > article > header + * {
  flex-grow: 2;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
}
body > section.app_win > article > header + * > section {
  margin: .5rem;  
}
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Laterales
*/
body > aside {
  z-index: 9999;
  position: fixed;
  top: 3.9vh;
  display: flex;  
  height: 96.1vh;
  width: 450px;
  background-color: var(--fon_sec);  
}
/* 
  paneles
*/
body > aside.app_pan {
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--col_azu);
  border-left: 0;
  border-radius: 0 1rem 1rem 0;    
  transition: all 1s;
  animation: app_pan-ver 1s, dis-ver 1s;
}
body > aside.app_pan.dis-ocu {  
  animation: app_pan-ocu 1s;
  display: flex !important;
  width: 0 !important;
  height: 0 !important;   
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
@keyframes app_pan-ver {
  from { transform: translate(-5rem); } to { transform: translate(0rem); }
}
@keyframes app_pan-ocu {
  from { transform: translate(0rem); } to { transform: translate(-5rem); }
}
/* Contenido */
body > aside.app_pan > [class*="ide-"] {
  width: 100%;
  animation: dis-ver 1s;
}
body > aside.app_pan > [class*="ide-"] > header {
  display: flex;
  justify-content: space-between;  
  padding: .5rem;
  text-align: center;
}
body > aside.app_pan > [class*="ide-"] > header + * {
  max-height: 90vh;
  overflow: auto;
}

/* 
  sidebar
*/
body > aside.app_bar {
  max-width: 100%;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Seccion Principal
*/
body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  overflow: auto;  
  background-color: var(--fon_art);/* por barra de desplazamiento */
  padding: 0 .5rem;
  text-align: center;
}
/* Titulo */
body > main > header {
  width: 100%;
  background-color: var(--fon_sec);
}
/* Contenido */
body > main > *:not(header,footer) {
  width: 100%;
  max-width: 55rem;
  line-height: 1.5;
}
/* - por articulo */
body > main > article {
  height: max-content;
  margin: .5rem auto;
  padding: 0 1rem;
  border-radius: 1rem;
  border: 1px solid var(--bor_sel);  
  background-color: var(--fon_sec);
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  pie de página
*/
body > footer.app_pie {
  padding: .5rem;
  text-align: center;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
  Panel : Menú Principal e indices 
*/
body > .app_pan > .ide-app_cab ul.lis.nav {
  height: 85vh;
}
body > .app_pan > .ide-app_nav ul.lis.nav {
  height: 81vh;
}

/* 
  Modal : Operador
*/
body > .app_win > .ide-app_ope {
  z-index: 9999;
  height: 95vh;
  background-color: var(--fon_win);
}
body > .app_win > .ide-app_ope > header + * {
  align-items: center;
}
/* -- Estructuras */
body > .app_win > .ide-est {
  max-width: 60rem;
  height: 90vh;
}
body > .app_win > .ide-est > div {
  padding: 0;
}
body > .app_win > .ide-est > div > .app_est {
  height: 77vh;
}

/* 
  Artículos
*/
article > p,
article section > p {
  margin-bottom: .5rem;
}
article > ul,
article section > ul {
  margin: .5rem auto;
  max-width: fit-content;  
}
article > figure,
article section > figure {
  margin: 1rem auto;
}

/* 
  ABM de la base
*/
form.app_dat {
  width: 100%;
  max-width: 40rem;
  background-color: var(--fon_nav);
  border-radius: .5rem;
  padding: 0 .5rem;   
  margin: auto;
}

form.app_dat :is(fieldset,div).atr {
  flex-grow: 2;
  flex-direction: column;
  align-items: start;
  margin: .5rem;
}

form.app_dat :is(fieldset,div).atr label[for] {
  margin: 0;
  color: var(--let_ide);
  padding: .5rem;
}

form.app_dat :is(fieldset,div).atr select,
form.app_dat :is(fieldset,div).atr textarea,
form.app_dat :is(fieldset,div).atr input:not([type='checkbox']):not([type='radio']) {
  width: 100%; width:-webkit-fill-available; width:-moz-available;  
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
  Objeto 
*/

.app_obj > .dat > .atr {
  margin: .2rem;
}
.app_obj > .dat > .atr > .val {
  margin: .1rem;
}


/* 
  Estructura
*/

.app_est {  
  width: 100%;
  overflow: auto;
  padding: 0 .5rem;
}

.app_est > table {
  margin: 0 auto;
  line-height: 1.3;
  text-align: center;  
}

.app_est > table > thead {
  position: sticky;
  top: 0;
  background-color: var(--fon_win);
}
.app_est > table > thead > tr > th > p {
  color: var(--let_ide);
  padding: .5rem;
}
.app_est > table > thead > tr:not(.gru) > th,
.app_est > table > tbody > tr:not([data-ope],[data-opc]) > td {
  border-right: 1px dotted var(--bor_dat);
}
/* titulo + detalle */
.app_est > table > tbody > tr:is([data-opc="tit"],[data-opc="det"]) {
  text-align: left;
  line-height: 1.5;
}
.app_est > table > tbody > tr[data-opc="tit"] > td {
  padding: 0 .5rem;
}
.app_est > table > tbody > tr[data-ope="lec"][data-opc="det"] > td {
  padding-top: .25rem;
}


/* 
Tablero
*/
.app_tab {
  min-width: max-content;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;  
  text-align: center;
  font-size: .7rem;
  transition: background 1s, border 1s;  
}
ul.app_tab {
  list-style: none;
  display: grid;
  width: fit-content;
  align-self: center;
  margin: 0;
  padding: 0;
}
table.app_tab {
  border-collapse: collapse;
}

/* posiciones y secciones */
.app_tab [class*="tab_pos"],
.app_tab .tab_sec {
  transition: background 1s, border 1s;
}

ul.app_tab > li[class*="tab_pos"]:not([class*="_dep"]) {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center; 
  justify-content: center;
}
/* Efectos */
.app_tab [class*="tab_pos"][onclick]:not([class*="_dep"]):hover {
  background-color:var(--tra_ros);
  color:black;
}
/* Fichas */
.app_tab :is(.tab_sec,[class*="tab_pos"]) > .ima {
  min-width: 100%;
  height: 100%;
}
.app_tab td:is(.tab_sec,[class*="tab_pos"]) > .ima {
  min-height: 100%;
}
/* textos */
.app_tab :is(.tab_sec,[class*="tab_pos"]) > p {
  text-align: center;
}

/* Bordes */
.app_tab [class*="tab_pos"].bor-1 {
  border-color: #008000;
}/* por seleccion */
.app_tab [class*="tab_pos"][class*="_val-"][class*="_bor"] {
  border: 1px solid #991d99;
}
/* Fondos */
.app_tab > .tab_sec.fon-ima { 
  grid-column: 1/sp; grid-row: 1/sp;
  width: 100%; height: 100%;
  z-index: -1;
}


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  x260 - kines
*/

.app_tab.kin.tzo {
  grid:repeat(20,1fr)/repeat(13,1fr); grid-auto-flow:column;
}

.app_tab.kin.par {
  border: 1px solid var(--col_ver); border-radius: 50%;
}

.app_tab.kin.nav_cas {
  padding: .2rem;
}
.app_tab.kin.nav_cas li[class*="tab_pos-"]:not(.pos_dep) {
  width: 3rem;
  height: 3rem;
}
.app_tab.kin.nav_cas li.tab_pos-0 {
  font-size:.5rem;
}

.app_tab.kin.nav_ond {
  grid-gap: .2rem;
}
.app_tab.kin.nav_ond li[class*="tab_pos-"]:not(.pos_dep) {
  width: 2.25rem;
  height: 2.25rem;
}

.app_tab.kin.arm_tra li[class*="tab_pos-"]:not(.pos_dep) {
  width: 2rem;
  height: 2rem;
}
.app_tab.kin.arm_cel {
  grid-gap:.15rem;
}

.app_tab.kin.cro_est li[class*="tab_pos-"]:not(.pos_dep) {
  width: 3rem;
  height: 3rem;
}

/* 
  x365 - Psi-cronos
*/
.app_tab.psi.ban {
  grid-gap: .1rem;
}
.app_tab.psi.ban > .tab_sec.uni_sol {
  grid-row:1; grid-column:2; justify-self:end; align-self:end; width:100%; max-width:80px; height:100%; max-height:80px;
}
.app_tab.psi.ban > .tab_sec.uni_lun {
  grid-row:3; grid-column:3; align-self:center; justify-self:center; width:100%; max-width:60px; height:100%; max-height:60px;
}

.app_tab.psi.tzo {
  grid-template-columns: repeat(4,1fr);
}
.app_tab.psi.tzo > .app_tab.kin.tzo.pos-5 { transform: rotate(180deg); }
.app_tab.psi.tzo > .app_tab.kin.tzo.pos-6 { transform: rotate(180deg); }
.app_tab.psi.tzo > .app_tab.kin.tzo.pos-7 { transform: rotate(180deg); }
.app_tab.psi.tzo > .app_tab.kin.tzo.pos-8 { transform: rotate(180deg); }


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

@media ( max-width: 500px ) {

  .app_tab.kin.nav_cas li[class*="tab_pos-"]:not(.pos_dep) {
    width: 2rem;
    height: 2rem;
  }

  .app_tab.kin.nav_ond li[class*="tab_pos-"]:not(.pos_dep) {
    width: 1.5rem;
    height: 1.5rem;
  }

  .app_tab.kin.arm_tra li[class*="tab_pos-"]:not(.pos_dep) {
    width: 1.3rem;
    height: 1.3rem;
  }
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
  x4: Armónica
*/
.app_tab.hol_arm { 
  grid: repeat(2,1fr)/repeat(2,1fr); border-radius: 15%;
}
.app_tab.hol_arm > .tab_pos-0 { 
  grid-column:3/5; grid-row:3/5; 
  justify-self: center; align-self: center; padding: 50%;
}
.app_tab.hol_arm > .tab_pos-1 { grid-column:4/7; grid-row:1/4; }
.app_tab.hol_arm > .tab_pos-2 { grid-column:1/4; grid-row:1/4; }
.app_tab.hol_arm > .tab_pos-3 { grid-column:1/4; grid-row:4/8; }
.app_tab.hol_arm > .tab_pos-4 { grid-column:4/7; grid-row:4/8; }

/* 
  x5: Cromática
*/
.app_tab.hol_cro { 
  grid: repeat(3,1fr) / repeat(3,1fr); border-radius: 50%;
}
.app_tab.hol_cro > .tab_pos-0 { grid-column:2; grid-row:2; }
.app_tab.hol_cro > .tab_pos-1 { grid-column:3; grid-row:2; }
.app_tab.hol_cro > .tab_pos-2 { grid-column:2; grid-row:1; }
.app_tab.hol_cro > .tab_pos-3 { grid-column:1; grid-row:2; }
.app_tab.hol_cro > .tab_pos-4 { grid-column:2; grid-row:3; }
.app_tab.hol_cro > .tab_pos-5 { grid-column:2; grid-row:2; }

.app_tab.hol_cro-cir { 
  grid:repeat(3,1fr)/repeat(3,1fr); border-radius: 50%;
}
.app_tab.hol_cro-cir > [class*="tab_pos-"] {
  position: relative;
}
.app_tab.hol_cro-cir > .tab_pos-0 { grid-column:2/3; grid-row:2/3; 
  align-self: center; justify-self: center; justify-content: center; align-items: center; 
  width: 150%; height: 150%; color: black 
}
.app_tab.hol_cro-cir > .tab_pos-1 { grid-column:1/2; grid-row:1/2; top: 3%;    left: 28%; transform: rotate(145deg); }
.app_tab.hol_cro-cir > .tab_pos-2 { grid-column:1/2; grid-row:2/3; top: 38%;   left:-13%; transform: rotate(070deg); }
.app_tab.hol_cro-cir > .tab_pos-3 { grid-column:2/3; grid-row:3/4; top: 20%; }
.app_tab.hol_cro-cir > .tab_pos-4 { grid-column:3/4; grid-row:2/3; top: 35.5%; left: 12%; transform: rotate(287deg); }
.app_tab.hol_cro-cir > .tab_pos-5 { grid-column:3/4; grid-row:1/2; top: 3%;    left:-30%; transform: rotate(217deg); }

/* 
  x7: Heptágono
*/
.app_tab.hol_hep { 
  grid:repeat(4,1fr)/repeat(4,1fr); 
  background: center/contain no-repeat url(http://icpv.com.ar/img/hol/fic/rad.png);
}
.app_tab.hol_hep > [class*="tab_pos-"] {
  position: relative;
}
.app_tab.hol_hep > .tab_pos-1 { grid-column:2; grid-row:1; top:     15%; left:  50%; }
.app_tab.hol_hep > .tab_pos-2 { grid-column:2; grid-row:4; bottom:  15%; left:  53%; }
.app_tab.hol_hep > .tab_pos-3 { grid-column:1; grid-row:2; bottom:  20%; left:  25%; }
.app_tab.hol_hep > .tab_pos-4 { grid-column:4; grid-row:3; top:     20%; right: 25%; }
.app_tab.hol_hep > .tab_pos-5 { grid-column:1; grid-row:3; top:     20%; left:  30%; }
.app_tab.hol_hep > .tab_pos-6 { grid-column:4; grid-row:2; bottom:  20%; right: 35%; }
.app_tab.hol_hep > .tab_pos-7 { grid-column:2; grid-row:2; top:     50%; left:  50%; }

/* 
  x13: Onda Encantada
*/
.app_tab.hol_ton { 
  grid: repeat(5,1fr)/repeat(5,1fr); justify-items: start;
}

.app_tab.hol_ton > .tab_sec.ima {
  z-index:1; grid-column:1/sp; grid-row:1/sp; width:100%; height:100%;
}
.app_tab.hol_ton > .tab_sec.fon {
  z-index:2; grid-column:1/sp; grid-row:1/sp; width:95%; height:91%; border-radius:50%;
}
.app_tab.hol_ton > .tab_sec.ond {
  z-index:3; grid-column:1/sp; grid-row:1/sp; width: 100%; height: 100%;
}
.app_tab.hol_ton > [class*="tab_pos-"] {
  z-index:4;
}
.app_tab.hol_ton > .tab_pos-1 { grid-column:1/2; grid-row:1/2; }
.app_tab.hol_ton > .tab_pos-2 { grid-column:1/2; grid-row:2/3; }
.app_tab.hol_ton > .tab_pos-3 { grid-column:1/2; grid-row:3/4; }
.app_tab.hol_ton > .tab_pos-4 { grid-column:1/2; grid-row:4/5; }
.app_tab.hol_ton > .tab_pos-5 { grid-column:1/2; grid-row:5/6; }
.app_tab.hol_ton > .tab_pos-6 { grid-column:2/3; grid-row:5/6; }
.app_tab.hol_ton > .tab_pos-7 { grid-column:3/4; grid-row:5/6; }
.app_tab.hol_ton > .tab_pos-8 { grid-column:4/5; grid-row:5/6; }
.app_tab.hol_ton > .tab_pos-9 { grid-column:5/6; grid-row:5/6; }
.app_tab.hol_ton > .tab_pos-10 { grid-column:5/6; grid-row:4/5; }
.app_tab.hol_ton > .tab_pos-11 { grid-column:5/6; grid-row:3/4; }
.app_tab.hol_ton > .tab_pos-12 { grid-column:5/6; grid-row:2/3; }
.app_tab.hol_ton > .tab_pos-13 { grid-column:4/5; grid-row:2/3; }

/* 
  x52: Castillo Fractal
*/
.app_tab.hol_cas { 
  grid: repeat(11,1fr)/repeat(11,1fr); align-items: center; justify-items: center; border-radius: 10%;
}

.app_tab.hol_cas > .tab_sec.fon { 
  z-index:1; width:100%; height:100%;
}

.app_tab.hol_cas > .tab_sec.col { 
  z-index:2; width:95%; height:91%; border-radius:50%;
}

.app_tab.hol_cas > .tab_sec[class*="orb-"] {
  z-index:3; border-radius: 50%; border: 1px solid green; 
}
.app_tab.hol_cas > .tab_sec.orb-1 { grid-column:5/8;  grid-row:5/8;  width: 70%; height: 70%; }
.app_tab.hol_cas > .tab_sec.orb-2 { grid-column:4/9;  grid-row:4/9;  width: 82%; height: 82%; }
.app_tab.hol_cas > .tab_sec.orb-3 { grid-column:3/10; grid-row:3/10; width: 86%; height: 86%; }
.app_tab.hol_cas > .tab_sec.orb-4 { grid-column:2/11; grid-row:2/11; width: 89%; height: 89%; }
.app_tab.hol_cas > .tab_sec.orb-5 { grid-column:1/12; grid-row:1/12; width: 91%; height: 91%; }

.app_tab.hol_cas > .tab_sec[class*="ond-"] {
  z-index:4; width: 100%; height: 100%;
}
.app_tab.hol_cas > .tab_sec.ond-1 { grid-column:7/12; grid-row:2/7 ; transform: rotate(270deg); }
.app_tab.hol_cas > .tab_sec.ond-2 { grid-column:2/7 ; grid-row:1/6 ; transform: rotate(180deg); }
.app_tab.hol_cas > .tab_sec.ond-3 { grid-column:1/6 ; grid-row:6/11; transform: rotate(090deg); }
.app_tab.hol_cas > .tab_sec.ond-4 { grid-column:6/11; grid-row:7/12; }

.app_tab.hol_cas > li:is([class*="tab_pos-"],.tab_pos-0) {
  z-index:5;
}
.app_tab.hol_cas > .tab_pos-0 { 
  grid-column:06; grid-row:06; width:80% !important; height:80% !important; border-radius:50%;
}
.app_tab.hol_cas > .tab_pos-1 { grid-column:07; grid-row:06; }
.app_tab.hol_cas > .tab_pos-2 { grid-column:08; grid-row:06; }
.app_tab.hol_cas > .tab_pos-3 { grid-column:09; grid-row:06; }
.app_tab.hol_cas > .tab_pos-4 { grid-column:10; grid-row:06; }
.app_tab.hol_cas > .tab_pos-5 { grid-column:11; grid-row:06; }
.app_tab.hol_cas > .tab_pos-6 { grid-column:11; grid-row:05; }
.app_tab.hol_cas > .tab_pos-7 { grid-column:11; grid-row:04; }
.app_tab.hol_cas > .tab_pos-8 { grid-column:11; grid-row:03; }
.app_tab.hol_cas > .tab_pos-9 { grid-column:11; grid-row:02; }
.app_tab.hol_cas > .tab_pos-10 { grid-column:10; grid-row:02; }
.app_tab.hol_cas > .tab_pos-11 { grid-column:09; grid-row:02; }
.app_tab.hol_cas > .tab_pos-12 { grid-column:08; grid-row:02; }
.app_tab.hol_cas > .tab_pos-13 { grid-column:08; grid-row:03; }
.app_tab.hol_cas > .tab_pos-14 { grid-column:06; grid-row:05; }
.app_tab.hol_cas > .tab_pos-15 { grid-column:06; grid-row:04; }
.app_tab.hol_cas > .tab_pos-16 { grid-column:06; grid-row:03; }
.app_tab.hol_cas > .tab_pos-17 { grid-column:06; grid-row:02; }
.app_tab.hol_cas > .tab_pos-18 { grid-column:06; grid-row:01; }
.app_tab.hol_cas > .tab_pos-19 { grid-column:05; grid-row:01; }
.app_tab.hol_cas > .tab_pos-20 { grid-column:04; grid-row:01; }
.app_tab.hol_cas > .tab_pos-21 { grid-column:03; grid-row:01; }
.app_tab.hol_cas > .tab_pos-22 { grid-column:02; grid-row:01; }
.app_tab.hol_cas > .tab_pos-23 { grid-column:02; grid-row:02; }
.app_tab.hol_cas > .tab_pos-24 { grid-column:02; grid-row:03; }
.app_tab.hol_cas > .tab_pos-25 { grid-column:02; grid-row:04; }
.app_tab.hol_cas > .tab_pos-26 { grid-column:03; grid-row:04; }
.app_tab.hol_cas > .tab_pos-27 { grid-column:05; grid-row:06; }
.app_tab.hol_cas > .tab_pos-28 { grid-column:04; grid-row:06; }
.app_tab.hol_cas > .tab_pos-29 { grid-column:03; grid-row:06; }
.app_tab.hol_cas > .tab_pos-30 { grid-column:02; grid-row:06; }
.app_tab.hol_cas > .tab_pos-31 { grid-column:01; grid-row:06; }
.app_tab.hol_cas > .tab_pos-32 { grid-column:01; grid-row:07; }
.app_tab.hol_cas > .tab_pos-33 { grid-column:01; grid-row:08; }
.app_tab.hol_cas > .tab_pos-34 { grid-column:01; grid-row:09; }
.app_tab.hol_cas > .tab_pos-35 { grid-column:01; grid-row:10; }
.app_tab.hol_cas > .tab_pos-36 { grid-column:02; grid-row:10; }
.app_tab.hol_cas > .tab_pos-37 { grid-column:03; grid-row:10; }
.app_tab.hol_cas > .tab_pos-38 { grid-column:04; grid-row:10; }
.app_tab.hol_cas > .tab_pos-39 { grid-column:04; grid-row:09; }
.app_tab.hol_cas > .tab_pos-40 { grid-column:06; grid-row:07; }
.app_tab.hol_cas > .tab_pos-41 { grid-column:06; grid-row:08; }
.app_tab.hol_cas > .tab_pos-42 { grid-column:06; grid-row:09; }
.app_tab.hol_cas > .tab_pos-43 { grid-column:06; grid-row:10; }
.app_tab.hol_cas > .tab_pos-44 { grid-column:06; grid-row:11; }
.app_tab.hol_cas > .tab_pos-45 { grid-column:07; grid-row:11; }
.app_tab.hol_cas > .tab_pos-46 { grid-column:08; grid-row:11; }
.app_tab.hol_cas > .tab_pos-47 { grid-column:09; grid-row:11; }
.app_tab.hol_cas > .tab_pos-48 { grid-column:10; grid-row:11; }
.app_tab.hol_cas > .tab_pos-49 { grid-column:10; grid-row:10; }
.app_tab.hol_cas > .tab_pos-50 { grid-column:10; grid-row:09; }
.app_tab.hol_cas > .tab_pos-51 { grid-column:10; grid-row:08; }
.app_tab.hol_cas > .tab_pos-52 { grid-column:09; grid-row:08; }


/* Circular */
.app_tab.hol_cas-cir { 
  grid: repeat(18,1fr)/repeat(18,1fr); border-radius: 50%;
}

.app_tab.hol_cas-cir > .tab_sec.fon { 
  z-index:1; width:100%; height:100%;
}

.app_tab.hol_cas-cir > .tab_sec.col { 
  z-index:2; width:95%; height:91%; border-radius:50%;
}

.app_tab.hol_cas-cir > .tab_sec[class*="orb-"] {  
  z-index:3; width: 100%; height: 100%; border-radius: 50%;
}
.app_tab.hol_cas-cir > .tab_sec.orb-1 { grid-column:9/11; grid-row:9/11; }
.app_tab.hol_cas-cir > .tab_sec.orb-2 { grid-column:8/12; grid-row:8/12; }
.app_tab.hol_cas-cir > .tab_sec.orb-3 { grid-column:7/13; grid-row:7/13; }
.app_tab.hol_cas-cir > .tab_sec.orb-4 { grid-column:6/14; grid-row:6/14; }
.app_tab.hol_cas-cir > .tab_sec.orb-5 { grid-column:5/15; grid-row:5/15; }
.app_tab.hol_cas-cir > .tab_sec.orb-6 { grid-column:4/16; grid-row:4/16; }
.app_tab.hol_cas-cir > .tab_sec.orb-7 { grid-column:3/17; grid-row:3/17; }
.app_tab.hol_cas-cir > .tab_sec.orb-8 { grid-column:2/18; grid-row:2/18; }

.app_tab.hol_cas-cir > .tab_sec[class*="ond-"] {  
  z-index:3; width: 100%; height: 100%;
}
.app_tab.hol_cas-cir > .tab_sec.ond-1 { grid-column:10/19; grid-row:01/10; border-radius: 0 100% 0 0; border-bottom: 1.5px solid green; }
.app_tab.hol_cas-cir > .tab_sec.ond-2 { grid-column:01/10; grid-row:01/10; border-radius: 100% 0 0 0; border-right:  1.5px solid green; }
.app_tab.hol_cas-cir > .tab_sec.ond-3 { grid-column:01/10; grid-row:10/19; border-radius: 0 0 0 100%; border-top:    1.5px solid green; }
.app_tab.hol_cas-cir > .tab_sec.ond-4 { grid-column:10/19; grid-row:10/19; border-radius: 0 0 100% 0; border-left:   1.5px solid green; }

.app_tab.hol_cas-cir > li:is(.pos,.pos-0) {
  z-index:4; position: relative;
}
.app_tab.hol_cas-cir > .tab_pos-0 { 
  grid-column:09/11; grid-row:09/11; width: 25%; height: 25%;
}
.app_tab.hol_cas-cir > .tab_pos-1 { grid-column:18; grid-row:09; left:  10%; }
.app_tab.hol_cas-cir > .tab_pos-2 { grid-column:18; grid-row:08; left:  05%; }
.app_tab.hol_cas-cir > .tab_pos-3 { grid-column:18; grid-row:07; right: 25%; }
.app_tab.hol_cas-cir > .tab_pos-4 { grid-column:17; grid-row:06; left: 35%; }
.app_tab.hol_cas-cir > .tab_pos-5 { grid-column:17; grid-row:05; right: 20%;  top: 05%; }
.app_tab.hol_cas-cir > .tab_pos-6 { grid-column:16; grid-row:04; left: 15%;   top: 15%; }
.app_tab.hol_cas-cir > .tab_pos-7 { grid-column:16; grid-row:03; right: 47%;  top: 30%; }
.app_tab.hol_cas-cir > .tab_pos-8 { grid-column:15; grid-row:03; right: 20%;  bottom: 30%; }
.app_tab.hol_cas-cir > .tab_pos-9 { grid-column:14; grid-row:02;              top: 22%; }
.app_tab.hol_cas-cir > .tab_pos-10 { grid-column:13; grid-row:02; left: 15%;   bottom: 30%; }
.app_tab.hol_cas-cir > .tab_pos-11 { grid-column:12; grid-row:01; left: 15%;   top: 35%; }
.app_tab.hol_cas-cir > .tab_pos-12 { grid-column:11; grid-row:01; left: 15%;   top: 10%; }
.app_tab.hol_cas-cir > .tab_pos-13 { grid-column:10; grid-row:01; left: 10%;   bottom: 10%; }
.app_tab.hol_cas-cir > .tab_pos-14 { grid-column:09; grid-row:01; bottom: 10%; }
.app_tab.hol_cas-cir > .tab_pos-15 { grid-column:08; grid-row:01; }
.app_tab.hol_cas-cir > .tab_pos-16 { grid-column:07; grid-row:01; top: 30%; }
.app_tab.hol_cas-cir > .tab_pos-17 { grid-column:06; grid-row:02; bottom: 40%; }
.app_tab.hol_cas-cir > .tab_pos-18 { grid-column:05; grid-row:02; top: 15%; }
.app_tab.hol_cas-cir > .tab_pos-19 { grid-column:04; grid-row:03; bottom: 20%; left: 10%; }
.app_tab.hol_cas-cir > .tab_pos-20 { grid-column:03; grid-row:03; top:40%; left: 35%; }
.app_tab.hol_cas-cir > .tab_pos-21 { grid-column:03; grid-row:04; top:15%; right: 30%; }
.app_tab.hol_cas-cir > .tab_pos-22 { grid-column:02; grid-row:05; left: 15%; }
.app_tab.hol_cas-cir > .tab_pos-23 { grid-column:02; grid-row:06; right: 40%; }
.app_tab.hol_cas-cir > .tab_pos-24 { grid-column:01; grid-row:07; left: 30%; }
.app_tab.hol_cas-cir > .tab_pos-25 { grid-column:01; grid-row:08; left: 10%; }
.app_tab.hol_cas-cir > .tab_pos-26 { grid-column:01; grid-row:09; }
.app_tab.hol_cas-cir > .tab_pos-27 { grid-column:01; grid-row:10; }
.app_tab.hol_cas-cir > .tab_pos-28 { grid-column:01; grid-row:11; left: 10%; }
.app_tab.hol_cas-cir > .tab_pos-29 { grid-column:01; grid-row:12; left: 40%; }
.app_tab.hol_cas-cir > .tab_pos-30 { grid-column:02; grid-row:13; right: 20%; }
.app_tab.hol_cas-cir > .tab_pos-31 { grid-column:02; grid-row:14; left: 30%; }
.app_tab.hol_cas-cir > .tab_pos-32 { grid-column:03; grid-row:15; bottom: 15%; right: 5%; }
.app_tab.hol_cas-cir > .tab_pos-33 { grid-column:03; grid-row:16; bottom: 50%; left: 60%; }
.app_tab.hol_cas-cir > .tab_pos-34 { grid-column:04; grid-row:16; top: 15%; left: 30%; }
.app_tab.hol_cas-cir > .tab_pos-35 { grid-column:05; grid-row:17; bottom: 30%; left: 5%; }
.app_tab.hol_cas-cir > .tab_pos-36 { grid-column:06; grid-row:17; top: 20%; }
.app_tab.hol_cas-cir > .tab_pos-37 { grid-column:07; grid-row:18; bottom: 45%; }
.app_tab.hol_cas-cir > .tab_pos-38 { grid-column:08; grid-row:18; bottom: 20%; }
.app_tab.hol_cas-cir > .tab_pos-39 { grid-column:09; grid-row:18; bottom: 5%; }
.app_tab.hol_cas-cir > .tab_pos-40 { grid-column:10; grid-row:18; bottom: 5%; }
.app_tab.hol_cas-cir > .tab_pos-41 { grid-column:11; grid-row:18; bottom: 20%; }
.app_tab.hol_cas-cir > .tab_pos-42 { grid-column:12; grid-row:18; bottom: 45%; }
.app_tab.hol_cas-cir > .tab_pos-43 { grid-column:13; grid-row:17; top: 20%; }
.app_tab.hol_cas-cir > .tab_pos-44 { grid-column:14; grid-row:17; bottom: 30%; right: 5%; }
.app_tab.hol_cas-cir > .tab_pos-45 { grid-column:15; grid-row:16; top: 15%; right: 30%; }
.app_tab.hol_cas-cir > .tab_pos-46 { grid-column:16; grid-row:16; bottom: 50%; right: 60%; }
.app_tab.hol_cas-cir > .tab_pos-47 { grid-column:16; grid-row:15; bottom: 15%; left: 5%; }
.app_tab.hol_cas-cir > .tab_pos-48 { grid-column:17; grid-row:14; right: 30%; }
.app_tab.hol_cas-cir > .tab_pos-49 { grid-column:17; grid-row:13; left: 20%; }
.app_tab.hol_cas-cir > .tab_pos-50 { grid-column:18; grid-row:12; right: 40%; }
.app_tab.hol_cas-cir > .tab_pos-51 { grid-column:18; grid-row:11; right: 10%; }
.app_tab.hol_cas-cir > .tab_pos-52 { grid-column:18; grid-row:10; }

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
  x20 - Sellos Solares
*/

.app_tab.sel {
  grid : repeat(4,1fr) / repeat(5,1fr); 
  grid-gap:.5rem;
}

.app_tab.sel.par {
  border: 1px solid var(--col_ver);
}

.app_tab.sel.arm {
  grid: repeat(5,1fr) / repeat(6,1fr); 
  grid-auto-flow: column; 
  border-radius: 20%;
}
.app_tab.sel.arm > .tab_sec.raz-1 { grid-column:1/2; grid-row:2/3; }
.app_tab.sel.arm > .tab_sec.raz-2 { grid-column:1/2; grid-row:3/4; }
.app_tab.sel.arm > .tab_sec.raz-3 { grid-column:1/2; grid-row:4/5; }
.app_tab.sel.arm > .tab_sec.raz-4 { grid-column:1/2; grid-row:5/6; }

.app_tab.sel.arm > .tab_sec.cel-1 { grid-column:2/3; grid-row:1/2; }
.app_tab.sel.arm > .tab_sec.cel-2 { grid-column:3/4; grid-row:1/2; }
.app_tab.sel.arm > .tab_sec.cel-3 { grid-column:4/5; grid-row:1/2; }
.app_tab.sel.arm > .tab_sec.cel-4 { grid-column:5/6; grid-row:1/2; }
.app_tab.sel.arm > .tab_sec.cel-5 { grid-column:6/7; grid-row:1/2; }

.app_tab.sel.cro {
  grid-auto-flow: column; 
  border-radius: 20%;
}

.app_tab.sel.cro > .tab_sec.ele-1 { grid-column:2/3; grid-row:1/2; }
.app_tab.sel.cro > .tab_sec.ele-2 { grid-column:3/4; grid-row:1/2; }
.app_tab.sel.cro > .tab_sec.ele-3 { grid-column:4/5; grid-row:1/2; }
.app_tab.sel.cro > .tab_sec.ele-4 { grid-column:5/6; grid-row:1/2; }

.app_tab.sel.cro > .tab_sec.fam-1 { grid-column:1/2; grid-row:2/3; }
.app_tab.sel.cro > .tab_sec.fam-2 { grid-column:1/2; grid-row:3/4; }
.app_tab.sel.cro > .tab_sec.fam-3 { grid-column:1/2; grid-row:4/5; }
.app_tab.sel.cro > .tab_sec.fam-4 { grid-column:1/2; grid-row:5/6; }
.app_tab.sel.cro > .tab_sec.fam-5 { grid-column:1/2; grid-row:6/7; }

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Holones
*/

/* 
  Solar vertical 
*/
.app_tab.uni.sol { 
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr; 
  grid-template-rows: repeat(12, 1fr);
}

.app_tab.uni.sol > li.tab_sec.ima.gal { grid-column:3/4; grid-row:1/2; }
.app_tab.uni.sol > li.tab_sec.ima.sol { grid-column:3/4; grid-row:12/13; }


.app_tab.uni.sol > .tab_sec.res-1 { grid-column:1/2; grid-row:2/12; } 
.app_tab.uni.sol > .tab_sec.res-2 { grid-column:5/6; grid-row:2/12; }

.app_tab.uni.sol > .tab_sec:is([class*="flu-"],[class*="cel-"],[class*="cir-"],[class*="ele-"]) {
  width: 50%; height: 50%;
}
.app_tab.uni.sol > .tab_sec.flu-1 { grid-column:1/3; grid-row: 1/ 2; }  
.app_tab.uni.sol > .tab_sec.flu-2 { grid-column:1/3; grid-row:12/13; } 
.app_tab.uni.sol > .tab_sec.flu-3 { grid-column:4/6; grid-row:12/13; } 
.app_tab.uni.sol > .tab_sec.flu-4 { grid-column:4/6; grid-row: 1/ 2; }

.app_tab.uni.sol > .tab_sec:is([class*="cel-"],[class*="cir-"],[class*="ele-"]) {  
  border-radius: .5em;
}
.app_tab.uni.sol > .tab_sec[class*="ele-"] {
  width: 80%; height: 95%;
}

/* Clanes Galácticos */
.app_tab.uni.sol > .tab_sec.ele-1 { grid-column:2/3; grid-row:02/07; border: 3px double rgba(151, 151, 28, 0.7);} 
.app_tab.uni.sol > .tab_sec.ele-2 { grid-column:2/3; grid-row:07/12; border: 3px double rgba(197, 24, 24, 0.7);  } 
.app_tab.uni.sol > .tab_sec.ele-3 { grid-column:4/5; grid-row:07/12; border: 3px double rgba(202, 191, 191, 0.7); } 
.app_tab.uni.sol > .tab_sec.ele-4 { grid-column:4/5; grid-row:02/07; border: 3px double rgba(23, 23, 184, 0.7); }

/* Células Solares */
.app_tab.uni.sol > .tab_sec.cel-1 { grid-column:1/6; grid-row:02/04; border: 2px double rgba(197, 24, 24, 0.7); } 
.app_tab.uni.sol > .tab_sec.cel-2 { grid-column:1/6; grid-row:04/06; border: 2px double rgba(202, 191, 191, 0.7); }  
.app_tab.uni.sol > .tab_sec.cel-3 { grid-column:1/6; grid-row:06/08; border: 2px double rgba(23, 23, 184, 0.7); }  
.app_tab.uni.sol > .tab_sec.cel-4 { grid-column:1/6; grid-row:08/10; border: 2px double rgba(151, 151, 28, 0.7); }  
.app_tab.uni.sol > .tab_sec.cel-5 { grid-column:1/6; grid-row:10/12; border: 2px double rgba(32, 131, 32, 0.7); }

/* Circuitos de telepatía */
.app_tab.uni.sol > .tab_sec.cir-1 { grid-column:1/6; grid-row:02/12; width: 90%; height: 90%; border: 2px double rgba(255, 0, 0, .7); } 
.app_tab.uni.sol > .tab_sec.cir-2 { grid-column:1/6; grid-row:03/11; width: 78%; height: 87%; border: 2px double rgba(255, 255, 255, .7); } 
.app_tab.uni.sol > .tab_sec.cir-3 { grid-column:1/6; grid-row:04/10; width: 70%; height: 83%; border: 2px double rgba(0, 0, 255, .7); } 
.app_tab.uni.sol > .tab_sec.cir-4 { grid-column:1/6; grid-row:05/09; width: 60%; height: 76%; border: 2px double rgba(255, 255, 0, .7); } 
.app_tab.uni.sol > .tab_sec.cir-5 { grid-column:1/6; grid-row:06/08; width: 50%; height: 51%; border: 2px double rgba(1, 201, 1, 0.7); }

/* Orbitales Planetarios */
.app_tab.uni.sol > .tab_sec[class*="pla"] { 
  width: 80%; height: 80%; margin: auto;
}
.app_tab.uni.sol > .tab_sec.pla-10 { grid-column:3; grid-row:2; } 
.app_tab.uni.sol > .tab_sec.pla-09 { grid-column:3; grid-row:3; } 
.app_tab.uni.sol > .tab_sec.pla-08 { grid-column:3; grid-row:4; } 
.app_tab.uni.sol > .tab_sec.pla-07 { grid-column:3; grid-row:5; } 
.app_tab.uni.sol > .tab_sec.pla-06 { grid-column:3; grid-row:6; } 
.app_tab.uni.sol > .tab_sec.pla-05 { grid-column:3; grid-row:7; } 
.app_tab.uni.sol > .tab_sec.pla-04 { grid-column:3; grid-row:8; } 
.app_tab.uni.sol > .tab_sec.pla-03 { grid-column:3; grid-row:9; } 
.app_tab.uni.sol > .tab_sec.pla-02 { grid-column:3; grid-row:10; } 
.app_tab.uni.sol > .tab_sec.pla-01 { grid-column:3; grid-row:11; }

/* Sellos */
.app_tab.uni.sol > .tab_pos.sel-20 { grid-column:2; grid-row:02; } 
.app_tab.uni.sol > .tab_pos.sel-01 { grid-column:2; grid-row:03; } 
.app_tab.uni.sol > .tab_pos.sel-02 { grid-column:2; grid-row:04; } 
.app_tab.uni.sol > .tab_pos.sel-03 { grid-column:2; grid-row:05; } 
.app_tab.uni.sol > .tab_pos.sel-04 { grid-column:2; grid-row:06; } 
.app_tab.uni.sol > .tab_pos.sel-05 { grid-column:2; grid-row:07; } 
.app_tab.uni.sol > .tab_pos.sel-06 { grid-column:2; grid-row:08; } 
.app_tab.uni.sol > .tab_pos.sel-07 { grid-column:2; grid-row:09; } 
.app_tab.uni.sol > .tab_pos.sel-08 { grid-column:2; grid-row:10; } 
.app_tab.uni.sol > .tab_pos.sel-09 { grid-column:2; grid-row:11; }
.app_tab.uni.sol > .tab_pos.sel-10 { grid-column:4; grid-row:11; } 
.app_tab.uni.sol > .tab_pos.sel-11 { grid-column:4; grid-row:10; } 
.app_tab.uni.sol > .tab_pos.sel-12 { grid-column:4; grid-row:09; } 
.app_tab.uni.sol > .tab_pos.sel-13 { grid-column:4; grid-row:08; } 
.app_tab.uni.sol > .tab_pos.sel-14 { grid-column:4; grid-row:07; } 
.app_tab.uni.sol > .tab_pos.sel-15 { grid-column:4; grid-row:06; } 
.app_tab.uni.sol > .tab_pos.sel-16 { grid-column:4; grid-row:05; } 
.app_tab.uni.sol > .tab_pos.sel-17 { grid-column:4; grid-row:04; } 
.app_tab.uni.sol > .tab_pos.sel-18 { grid-column:4; grid-row:03; } 
.app_tab.uni.sol > .tab_pos.sel-19 { grid-column:4; grid-row:02; }

/* 
  Solar circular 
*/
.app_tab.uni.sol-cir { 
  grid: repeat(9,1fr)/repeat(9,1fr);
}

.app_tab.uni.sol-cir > .tab_sec.fon.map { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/sol/map.png); }
.app_tab.uni.sol-cir > .tab_sec.fon.ato { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/sol/ato.png); }
.app_tab.uni.sol-cir > .tab_sec.fon.res { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/sol/res.png); }
.app_tab.uni.sol-cir > .tab_sec.fon.cel { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/sol/cel.png); }
.app_tab.uni.sol-cir > .tab_sec.fon.cir { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/sol/cir.png); }

.app_tab.uni.sol-cir > .tab_sec[class*="pla"] { 
  position: relative; width: 110%; height: 100%;
}
.app_tab.uni.sol-cir > .tab_sec.pla-10 { grid-column:3/5; grid-row:2; transform: rotate( 053deg); top: 25%; left: 15%; }
.app_tab.uni.sol-cir > .tab_sec.pla-09 { grid-column:2/4; grid-row:3; transform: rotate( 053deg); left: 17%; }
.app_tab.uni.sol-cir > .tab_sec.pla-08 { grid-column:2/4; grid-row:5; transform: rotate( 340deg); top: 25%; right: 20%; }
.app_tab.uni.sol-cir > .tab_sec.pla-07 { grid-column:2/4; grid-row:6; transform: rotate( 340deg); top: 45%; }
.app_tab.uni.sol-cir > .tab_sec.pla-06 { grid-column:4/6; grid-row:8; transform: rotate( 270deg); bottom: 20%; right: 5%; }
.app_tab.uni.sol-cir > .tab_sec.pla-05 { grid-column:5/7; grid-row:8; transform: rotate( 270deg); bottom: 20%; left: 7%; }
.app_tab.uni.sol-cir > .tab_sec.pla-04 { grid-column:7/9; grid-row:6; transform: rotate( 018deg); top: 35%; left: 3%; }
.app_tab.uni.sol-cir > .tab_sec.pla-03 { grid-column:7/9; grid-row:5; transform: rotate( 018deg); top: 15%; left: 20%; }
.app_tab.uni.sol-cir > .tab_sec.pla-02 { grid-column:6/8; grid-row:3; transform: rotate( 305deg); bottom: 5%; left: 32%; }
.app_tab.uni.sol-cir > .tab_sec.pla-01 { grid-column:6/8; grid-row:2; transform: rotate( 305deg); top: 30%; right: 18%; }

.app_tab.uni.sol-cir > .tab_pos { 
  position: relative; width: 110%; height: 110%; border-radius: 5%;
}
.app_tab.uni.sol-cir > .tab_pos.sel-20 { grid-column:3; grid-row:2; transform: rotate( 053deg); bottom: 22%; left: 45%; }
.app_tab.uni.sol-cir > .tab_pos.sel-01 { grid-column:2; grid-row:3; transform: rotate( 054deg); bottom: 49%; left: 47%; }
.app_tab.uni.sol-cir > .tab_pos.sel-02 { grid-column:1; grid-row:6; transform: rotate( 340deg); bottom: 54%; left: 55%; }
.app_tab.uni.sol-cir > .tab_pos.sel-03 { grid-column:2; grid-row:7; transform: rotate( 340deg); bottom: 39%; right: 5%; }
.app_tab.uni.sol-cir > .tab_pos.sel-04 { grid-column:4; grid-row:8; transform: rotate( 270deg); top: 35%; left: 41%; }
.app_tab.uni.sol-cir > .tab_pos.sel-05 { grid-column:6; grid-row:8; transform: rotate( 270deg); top: 35%; right: 37%; }
.app_tab.uni.sol-cir > .tab_pos.sel-06 { grid-column:8; grid-row:6; transform: rotate( 196deg); top: 50%; left: 13%; }
.app_tab.uni.sol-cir > .tab_pos.sel-07 { grid-column:8; grid-row:5; transform: rotate( 196deg); top: 32%; left: 47%; }
.app_tab.uni.sol-cir > .tab_pos.sel-08 { grid-column:7; grid-row:2; transform: rotate( 125deg); top: 44%; left: 48%; }
.app_tab.uni.sol-cir > .tab_pos.sel-09 { grid-column:6; grid-row:2; transform: rotate( 125deg); bottom: 26%; left: 50%; }
.app_tab.uni.sol-cir > .tab_pos.sel-10 { grid-column:6; grid-row:3; transform: rotate( 306deg); bottom: 28%; right: 20%; }
.app_tab.uni.sol-cir > .tab_pos.sel-11 { grid-column:7; grid-row:3; transform: rotate( 306deg); top: 40%; right: 20%; }
.app_tab.uni.sol-cir > .tab_pos.sel-12 { grid-column:7; grid-row:5; transform: rotate( 017deg); bottom: 2%; left: 32%; }
.app_tab.uni.sol-cir > .tab_pos.sel-13 { grid-column:7; grid-row:6; transform: rotate( 017deg); top: 14%; right: 3%; }
.app_tab.uni.sol-cir > .tab_pos.sel-14 { grid-column:6; grid-row:7; transform: rotate( 090deg); top: 15%; right: 35%; }
.app_tab.uni.sol-cir > .tab_pos.sel-15 { grid-column:4; grid-row:7; transform: rotate( 090deg); top: 15%; left: 40%; }
.app_tab.uni.sol-cir > .tab_pos.sel-16 { grid-column:3; grid-row:6; transform: rotate( 160deg); top: 20%; left: 10%; }
.app_tab.uni.sol-cir > .tab_pos.sel-17 { grid-column:3; grid-row:5; transform: rotate( 160deg); top: 5%; right: 30%; }
.app_tab.uni.sol-cir > .tab_pos.sel-18 { grid-column:3; grid-row:4; transform: rotate( 234deg); bottom: 52%; left: 18%; }
.app_tab.uni.sol-cir > .tab_pos.sel-19 { grid-column:4; grid-row:3; transform: rotate( 234deg); bottom: 25%; left: 15%; }


/* 
  Planetario
*/
.app_tab.uni.pla { 
  grid: repeat(5,1fr)/repeat(9,1fr);
}

.app_tab.uni.pla > .tab_sec.fon { 
  grid-column:2/10; grid-row:1/6; width: 100%; height: 100%;
}
.app_tab.uni.pla > .tab_sec.fon.map { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/pla/map.png); }
.app_tab.uni.pla > .tab_sec.fon.sel { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/pla/sel.png); }
.app_tab.uni.pla > .tab_sec.fon.res { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/pla/res.png); }
.app_tab.uni.pla > .tab_sec.fon.flu { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/pla/flu.png); }

.app_tab.uni.pla > .tab_sec[class*="fam-"] {
  height: 80%; width: 80%;
}
.app_tab.uni.pla > .tab_sec.fam-1 { grid-column:1/2; grid-row:2; }
.app_tab.uni.pla > .tab_sec.fam-2 { grid-column:1/2; grid-row:3; }
.app_tab.uni.pla > .tab_sec.fam-3 { grid-column:1/2; grid-row:4; }
.app_tab.uni.pla > .tab_sec.fam-4 { grid-column:1/2; grid-row:5; }
.app_tab.uni.pla > .tab_sec.fam-5 { grid-column:1/2; grid-row:1; }

.app_tab.uni.pla > [class*="tab_pos-"] {
  position: relative; width: 150%; height: 115%; border-radius: 50%;
}
.app_tab.uni.pla > .tab_pos.sel-20 { grid-column:6; grid-row:1; top: 25%; }
.app_tab.uni.pla > .tab_pos.sel-05 { grid-column:8; grid-row:1; top: 25%; }
.app_tab.uni.pla > .tab_pos.sel-10 { grid-column:2; grid-row:1; top: 25%; left: 20%; }
.app_tab.uni.pla > .tab_pos.sel-15 { grid-column:4; grid-row:1; top: 25%; }
.app_tab.uni.pla > .tab_pos.sel-01 { grid-column:7; grid-row:2; top: 20%; }
.app_tab.uni.pla > .tab_pos.sel-06 { grid-column:9; grid-row:2; top: 20%; }
.app_tab.uni.pla > .tab_pos.sel-11 { grid-column:3; grid-row:2; top: 20%; left: 15%; }
.app_tab.uni.pla > .tab_pos.sel-16 { grid-column:5; grid-row:2; top: 20%; left: 10%; }
.app_tab.uni.pla > .tab_pos.sel-02 { grid-column:8; grid-row:3; bottom: 10%; }
.app_tab.uni.pla > .tab_pos.sel-07 { grid-column:2; grid-row:3; bottom: 10%; left: 25%; }
.app_tab.uni.pla > .tab_pos.sel-12 { grid-column:4; grid-row:3; bottom: 10%; left: 15%; }
.app_tab.uni.pla > .tab_pos.sel-17 { grid-column:6; grid-row:3; bottom: 10%; }
.app_tab.uni.pla > .tab_pos.sel-03 { grid-column:9; grid-row:4; bottom: 20%; }
.app_tab.uni.pla > .tab_pos.sel-08 { grid-column:3; grid-row:4; bottom: 20%; left: 15%; }
.app_tab.uni.pla > .tab_pos.sel-13 { grid-column:5; grid-row:4; bottom: 20%; left: 15%; }
.app_tab.uni.pla > .tab_pos.sel-18 { grid-column:7; grid-row:4; bottom: 20%; }
.app_tab.uni.pla > .tab_pos.sel-04 { grid-column:2; grid-row:5; bottom: 45%; left: 30%; }
.app_tab.uni.pla > .tab_pos.sel-09 { grid-column:4; grid-row:5; bottom: 45%; left: 20%; }
.app_tab.uni.pla > .tab_pos.sel-14 { grid-column:6; grid-row:5; bottom: 45%; left: 8%; }
.app_tab.uni.pla > .tab_pos.sel-19 { grid-column:8; grid-row:5; bottom: 45%; left: 5%; }

.app_tab.uni.pla > li.pos > .ima {
  width: 30%;
}

/* 
  Humano
*/
.app_tab.uni.hum { 
  grid: repeat(20,1fr)/repeat(13,1fr);
}

.app_tab.uni.hum > .tab_sec.fon { 
  grid-column: 1/sp; grid-row: 1/sp; width: 100%; height: 100%;
}
.app_tab.uni.pla > .tab_sec.fon.map { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/hum/map.png); }
.app_tab.uni.pla > .tab_sec.fon.res { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/hum/res.png); }
.app_tab.uni.pla > .tab_sec.fon.cir { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/hum/cir.png); }
.app_tab.uni.pla > .tab_sec.fon.cen { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/hum/cen.png); }
.app_tab.uni.pla > .tab_sec.fon.ext { background: center/contain no-repeat url(http://icpv.com.ar/img/hol/tab/hum/ext.png); }


.app_tab.uni.hum > .tab_sec[class*="raz-"] {
  position: relative;
}
.app_tab.uni.hum > .tab_sec.raz-4 { grid-column:2/5; grid-row:10/12; left:5%; top:5%; }
.app_tab.uni.hum > .tab_sec.raz-1 { grid-column:5/7; grid-row:18/20; left: 30%; top:5%; z-index:-1; }
.app_tab.uni.hum > .tab_sec.raz-2 { grid-column:11/13; grid-row:10/12; right:35%; top:5%; }
.app_tab.uni.hum > .tab_sec.raz-3 { grid-column:8/10; grid-row:18/20; right:20%; top:5%; z-index:-1; }


.app_tab.uni.hum > .tab_sec.fam-5 { grid-column:6/9; grid-row:1/3; }
.app_tab.uni.hum > .tab_sec.fam-1 { grid-column:6/9; grid-row:3/6; z-index:1; }
.app_tab.uni.hum > .tab_sec.fam-2 { grid-column:6/9; grid-row:5/8; }
.app_tab.uni.hum > .tab_sec.fam-3 { grid-column:6/9; grid-row:7/10; }
.app_tab.uni.hum > .tab_sec.fam-4 { grid-column:6/9; grid-row:10/12; }

.app_tab.uni.hum > li[class*="ton-"] { 
  position:relative; width:20px; height:20px; border-radius: 20%;
}
.app_tab.uni.hum > li.ton-01 { grid-column:05; grid-row:18; bottom: 30%; }
.app_tab.uni.hum > li.ton-02 { grid-column:05; grid-row:15; right: 15%; }
.app_tab.uni.hum > li.ton-03 { grid-column:05; grid-row:11; right: 20%; }
.app_tab.uni.hum > li.ton-04 { grid-column:03; grid-row:10; bottom: 40%; }
.app_tab.uni.hum > li.ton-05 { grid-column:04; grid-row:08; bottom: 35%; right: 40%; }
.app_tab.uni.hum > li.ton-06 { grid-column:04; grid-row:05; }
.app_tab.uni.hum > li.ton-07 { grid-column:07; grid-row:04; bottom: 35%; }
.app_tab.uni.hum > li.ton-08 { grid-column:10; grid-row:05; }
.app_tab.uni.hum > li.ton-09 { grid-column:10; grid-row:08; bottom: 35%; left: 40%; }
.app_tab.uni.hum > li.ton-10 { grid-column:11; grid-row:10; bottom: 40%; }
.app_tab.uni.hum > li.ton-11 { grid-column:09; grid-row:11; left: 20%; }
.app_tab.uni.hum > li.ton-12 { grid-column:09; grid-row:15; left: 35%; }
.app_tab.uni.hum > li.ton-13 { grid-column:09; grid-row:18; bottom: 30%; left: 30%; }

.app_tab.uni.hum > li[class*="sel-"] { 
  width:15px; height:15px; position:relative;
}
.app_tab.uni.hum > li.sel-20 { grid-column:1;  grid-row:10; top:40%; right:25%; }
.app_tab.uni.hum > li.sel-01 { grid-column:1;  grid-row:11; top:30%; right:17%; }
.app_tab.uni.hum > li.sel-02 { grid-column:1;  grid-row:12; top:20%; left: 25%; }
.app_tab.uni.hum > li.sel-03 { grid-column:2;  grid-row:12; top:40%; left: 28%; }
.app_tab.uni.hum > li.sel-04 { grid-column:3;  grid-row:12; top:25%; left: 30%; }
.app_tab.uni.hum > li.sel-10 { grid-column:13; grid-row:10; top:35%; left:20%; }
.app_tab.uni.hum > li.sel-11 { grid-column:13; grid-row:11; top:30%; left:15%; }
.app_tab.uni.hum > li.sel-12 { grid-column:13; grid-row:12; top:20%; right:25%; }
.app_tab.uni.hum > li.sel-13 { grid-column:12; grid-row:12; top:43%; right:25%; }
.app_tab.uni.hum > li.sel-14 { grid-column:11; grid-row:12; top:30%; right:25%; }
.app_tab.uni.hum > li.sel-05 { grid-column:6;  grid-row:20; top:15%; left:25%; }
.app_tab.uni.hum > li.sel-06 { grid-column:5;  grid-row:20; top:35%; left:20%; }
.app_tab.uni.hum > li.sel-07 { grid-column:4;  grid-row:20; top:25%; left:20%; }
.app_tab.uni.hum > li.sel-08 { grid-column:4;  grid-row:19; top:35%; left:5%; }
.app_tab.uni.hum > li.sel-09 { grid-column:4;  grid-row:19; bottom:50%; left:20%; }
.app_tab.uni.hum > li.sel-15 { grid-column:8;  grid-row:20; top:20%; }
.app_tab.uni.hum > li.sel-16 { grid-column:9;  grid-row:20; top:35%; }
.app_tab.uni.hum > li.sel-17 { grid-column:10; grid-row:20; top:25%; }
.app_tab.uni.hum > li.sel-18 { grid-column:10; grid-row:19; top:35%; left:15%; }
.app_tab.uni.hum > li.sel-19 { grid-column:10; grid-row:19; bottom:50%; }


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/