:root { 

  /* tamañanos */
  --tam_anc:75rem;

  /* fondos */
  --fon_sec:rgba(015, 015, 015, .9);
  --fon_art:rgba(15, 15, 15, 0.6);
  --fon_nav:rgba(015, 015, 015, .3);
  --fon_foc:rgba(049, 134, 245, .3);
  --fon_sel:rgba(130, 167, 216, .6);  

  /* Bordes */
  --bor_val:#507DBC;
  --bor_sel:#051f44;
  --bor_dat:#7442c8;

  /* letras */
  --let_ide:#779adc;
  --let_val:#cd5de9;
  --let_err:#ff0000;  
  --let_num:#7fff00;  
  --let_tex:#dfda4c;
  --let_lis:#00eeff;

  /* operativos */
  --let_ope:#b8860b;  
  --let_ope_val:#fdb600;
  --let_ope_num:#2b75c4;
  --let_ope_tex:#fdb600;
  --let_ope_lis:#00eeff;
  
  /* colores sólidos */    
  --col_roj:#FC2847;
  --col_bla:#ffffff;
  --col_azu:#0f518a;
  --col_ama:#f0f015;
  --col_ver:#26a933;
  --col_nar:#ffa343;
  --col_vio:#7442c8;
  --col_cel:#42bdc8;
  --col_mar:#6b3b08;
  --col_neg:#000000;
  --col_tra:rgba(0,0,0,0);
  --col_gri:#808080;
  --col_ros:#fb7efd;
  
  /* transparencias */
  --tra_roj:rgba(252,40 ,71 ,.7);
  --tra_bla:rgba(255,255,255,.7);
  --tra_azu:rgba(15 ,76 ,129,.7);
  --tra_ama:rgba(243, 243, 26, 0.7);
  --tra_ver:rgba(7, 189, 25, 0.7);
  --tra_nar:rgba(255,163,67 ,.7);
  --tra_vio:rgba(116,66 ,200,.7);
  --tra_neg:rgba(000,000,000,.7);
  --tra_gri:rgba(127,127,127,.7);
  --tra_ros:rgba(251,124,253,.7);
}

*, :before, :after { 
  box-sizing: border-box;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
Documento : lista, renglon, dato
*/
div:is(.lis,.ite,.ren,.val,.dat){
  display: flex;
}
div:is(.lis,.ite,.ren) {
  flex-grow: 2;
  align-self: stretch;
}

/* Vertical */
div:is(.lis,.dat) {
  flex-direction: column;
  align-content: stretch;
}
div.lis {
  align-items: flex-start;
}

/* Horizontal */
div:is(.ren,.ite,.val){
  flex-flow: row wrap;
  align-items: center;
}
div:is(.ite,.val) {
  flex-wrap: nowrap;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
campos
*/
form {
  max-height: 100%;
}

fieldset {
  border-radius: .5rem;
  border: 0;
  padding: 0;
  margin: 0;
}

form:is(.lis,.ren,.ite,.dat,.val), 
fieldset:is(.lis,.ren,.ite,.dat,.val) {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

/* horizontales */
form:is(.ren,.ite,.val), 
fieldset:is(.ren,.ite,.val) {  
  flex-flow: row wrap;
  justify-content: start;
}
form:is(.ite,.val),
fieldset:is(.ite,.val) {
  flex-wrap: nowrap;
}

form:is(.ren,.ite),
fieldset:is(.ren,.ite) {
  flex-grow: 2;
  align-self: stretch;
}
fieldset:is(.ren,.ite) {
  margin: .4rem 0;
}

form.ren,
fieldset.ren {
  justify-content: space-evenly;
}
:is(form,fieldset) > :is(.ren,.ite) {
  justify-content: space-evenly;
}
:is(form,fieldset) > div:is(.ren,.ite) {
  margin: .15rem .5rem;
}

/* 
atributo > label + val 
*/
form :is(fieldset,div).atr {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin:.25rem;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
  Etiquetas 
*/
label, 
legend {
  display: flex;  
  flex-flow: row nowrap;
  align-items: center;
}
label {
  min-width: fit-content; 
  min-width: -moz-fit-content;
  margin: .25rem;
}
legend {
  overflow: hidden;
  padding: .3rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--bor_dat);
  font-size: medium;
}

/* 
valores
*/
input, 
textarea,
select,
datalist,
button {
  background-color: var(--fon_art);
  padding: .2rem;
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  font-family: var(--tex);
  color: var(--let_tex);
}

/* Focos */
:is(input,select,button:not(.ico)):focus {
  background-color: var(--tra_azu);
}
:is(input,select,textarea):focus {
  outline: none;
}
/* Acciones */
*[onclick], label[for] {
  cursor: pointer;
}

/* Tamaños */
input[maxlength='1'] { width: 2.5rem; }
input[maxlength='2'] { width: 3rem; }
input[maxlength='3'] { width: 3.5rem; }
input[maxlength='4'] { width: 4rem; }
input[maxlength='5'] { width: 4.5rem; }
input[maxlength='6'] { width: 5rem; }
input[maxlength='7'] { width: 5.5rem; }
input[maxlength='8'] { width: 6rem; }
input[maxlength='9'] { width: 6.5rem; }
input[maxlength='10']{ width: 7rem; }
input[maxlength='11']{ width: 7.5rem; }
input[maxlength='12']{ width: 8rem; }
input[maxlength='13']{ width: 8.5rem; }
input[maxlength='14']{ width: 9rem; }
input[maxlength='15']{ width: 9.5rem; }
input[maxlength='16']{ width: 10rem; }
input[maxlength='17']{ width: 10.5rem; }
input[maxlength='18']{ width: 11rem; }
input[maxlength='19']{ width: 11.5rem; }
input[maxlength='20']{ width: 12rem; }
input[maxlength='25']{ width: 15rem; }


/* 
  Figuras
*/

img {  
  max-width: 100%;
  height: auto;
}

.ico, 
[ima] {
  background-color: var(--col_tra);
  padding: 0;
  border: 0;
  margin: 0;
}

/* Iconos */
.ico[class*='material-icons-']{
  color: #ccc0b0;
  font-size: 1.5rem;
  text-decoration: none;
}
.ico.tam-0 { font-size: .5rem; }
.ico.tam-1 { font-size: 1rem; }
.ico.tam-2 { font-size: 1.25rem; }
.ico.tam-3 { font-size: 1.5rem; }
.ico.tam-4 { font-size: 1.75rem; }
.ico.tam-5 { font-size: 2rem; }
.ico.tam-6 { font-size: 2.25rem; }
.ico.tam-7 { font-size: 2.5rem; }

.ico[onclick]:not(.fic):active {
  transform: scale(.75);
}

.ico:is([href],[onclick]):hover {
  text-shadow: 0 0 5px;
}

/* Fichas */
[ima] {
  display: inline-block; 
  min-width: 3rem;      
  height: 3rem;
}
[ima].tam-1  { min-width: 1.25rem; height: 1.25rem; }
[ima].tam-2  { min-width: 1.5rem; height: 1.5rem; }
[ima].tam-3  { min-width: 1.75rem; height: 1.75rem; }
[ima].tam-4  { min-width: 2rem; height: 2rem; }
[ima].tam-5  { min-width: 2.25rem; height: 2.25rem; }
[ima].tam-6  { min-width: 2.5rem; height: 2.5rem; }
[ima].tam-7  { min-width: 3rem; height: 3rem; }
[ima].tam-8  { min-width: 3.5rem; height: 3.5rem; }
[ima].tam-9  { min-width: 4rem; height: 4rem; }
[ima].tam-10 { min-width: 4.5rem; height: 4.5rem; }
[ima].tam-11 { min-width: 5rem; height: 5rem; }
[ima].tam-12 { min-width: 5.5rem; height: 5.5rem; }
[ima].tam-13 { min-width: 6rem; height: 6rem; }
[ima].tam-14 { min-width: 6.5rem; height: 6.5rem; }
[ima].tam-15 { min-width: 7rem; height: 7rem; }
[ima].tam-16 { min-width: 7.5rem; height: 7.5rem; }

/* 
  Enlaces
*/
a:not(.ico,.tex) {
  text-decoration: underline;
  font-style: italic;
  color: var(--let_ide);
}
a.tex {
  text-decoration: none;
}

/* 
Separador 
*/
hr{   
  margin: 2rem;
}

/* 
  Títulos 
*/
h1, h2, h3, h4, h5, h6 {
  margin: .7rem 0 .5rem;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

:is(h2,h3,h4,h5,h6):first-child {
  margin-top: .1rem;
}

h1 { font-size: 1.8rem; } 
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; } 
h4 { font-size: 1.2rem; } 
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

/* 
  textos
*/
p {
  margin: 0;
}
q, blockquote { 
  quotes: "\"" "\"" "'" "'";
}
:is(q,blockquote)::after, 
:is(q,blockquote)::before {
  color: var(--let_ope);
  text-shadow: 0 0 5px;
}

textarea {
  padding: .6rem;
  resize: vertical;
}

/* 
  letra
*/
c {
  display: inline;  
  font-weight: bold; 
  color: var(--let_ope);
  text-shadow: 0 0 5px;  
}
c.sep { 
  margin: .3rem;
}

:is(p,b,i).cit {
  margin: .75rem auto;
  font-style: italic;
}

:is(p,b,i).tit {
  margin-top: .5rem;
  text-decoration: underline; 
  font-weight: bold; 
  font-style: italic;
}

:is(p,b,i).des {
  font-weight: bold;
  font-style: italic;
}

dfn, /* Definiciones */
abbr, /* Abreviaturas */
dl dt, /* Términos */
:is(p,b,i).ide { 
  color: var(--let_ide); 
}
:is(p,b,i).val { 
  color: var(--let_val); 
}
:is(p,b,i).err { 
  color: var(--let_err); 
}
:is(p,b,i).tex { 
  color: var(--let_tex); 
}
:is(p,b,i).num { 
  color: var(--let_num); 
}

/* 
  Numeros
*/
n {
  display: inline;
}

n, sup, sub {
  text-shadow: 0 0 5px;
  color: var(--let_num);
}

/* 
  fechas 
*/
time {
  color: var(--let_num);
}
input:is([type='datetime-local'],[type='date'],[type='time']){
  top: 0;  
}
input[type*='date']::-webkit-clear-button {
  height: 30px;
  position: relative;
  right: 5px;
  margin-right: 4px;
  font-size: 15px;
}
input[type*='date']::-webkit-inner-spin-button {
  height: 30px;
}

/* 
  Opciones
*/

input[type='color']{
  width: 2rem;
}

input:is([type='radio'],[type='checkbox']) {
  cursor: pointer;
}

select, 
datalist, 
option, 
optgroup {
  cursor: pointer;  
  font-family: var(--tex);
  color: var(--let_tex);
}
optgroup {
  color: var(--let_opc);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
Listados 
*/
dl,
ul,
ol {  
  text-align: left;
}
ul,
ol {
  padding-left: 1rem;
}

/* de términos */
dl dt {
  margin-top: .5rem;
}
dl dd { 
  margin-left: 1rem;  
}

/* 
items de lista
*/
ul:is(.lis,.val,.ope,.bar) {
  list-style: none;
}

/* 
valores horizontales 
*/
ul:is(.val,.bar) {
  display: flex;
  flex-flow: row nowrap;
}

/* 
item horizontal 
*/
ul.ite > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: .2rem 0;
}

/* 
estilos 
*/
ol.ite-let {
  list-style-type: lower-latin;
}
ol.ite-rom {
  list-style-type: lower-roman;
}
ol.ite-let_may {
  list-style-type: upper-latin;
}
ol.ite-rom_may {
  list-style-type: upper-roman;
}

ul.ite-pun {
  list-style: disc;
}
ul.ite-cir {
  list-style: circle;
}
ul.ite-cua {
  list-style: square;
}

/*////////////////////////////////*/
/*////////////////////////////////*/

/* 
valores anidadas
*/
ul.lis {
  overflow: auto;
  padding: 0;
  margin: .5rem 0;
}
ul.lis ul.lis {
  overflow: initial;  
  margin-left: 1rem;
  margin-top: .25rem;
}
ul.lis.sep > li {
  margin-bottom: .5rem;
}
ul.lis:not(.dir-hor) > li.sep  {
  margin-left: 1.5rem;
}
ul.lis li > .val {
  border-radius: .2rem;
  padding: .25rem;
}

/*////////////////////////////////*/
/*////////////////////////////////*/

/* 
horizontal con desplazamiento por item
*/
ul.bar { 
  margin: 0;
}
ul.bar li[data-pos] {
  overflow: auto;
}

/*////////////////////////////////*/
/*////////////////////////////////*/

/* 
Tabla-Estructura 
*/
table {
  width: max-content;
  max-width: 100%;  
  border-collapse: separate; /* espaciado aplica cuando el collapse es separate // not:: collapse: collapse */  
  border-spacing: .2rem .1rem; /* => horizontal-izquierda vertical-superior */
}
table th {
  color: var(--let_ide);
}

/*////////////////////////////////*/
/*////////////////////////////////*/

/* 
Operadores-Botones : fieldset.ope > button + nav.ope > a + div.ope > span/button
*/

:is(ul,nav,fieldset).ope {  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: fit-content;
  margin: 0;
  padding: 0;
}
:is(ul,nav,fieldset).ope:not(.dir-ver) > .ico {
  margin: 0 .3rem;
}
:is(ul,nav,fieldset).ope.dir-ver > .ico {
  margin: .2rem 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
Variables
*/

div[var]{
  display: flex;
  flex-direction: column;
}

/*////////////////////////////////*/
/*////////////////////////////////*/
/* 
 números
*/

/* rangos */
div[var="num_ran"] {
  text-align: center;
  align-content: center;
  max-width: fit-content;
}

input[type='range'] {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: transparent;
  border:0;
  padding: 0;
  margin: 0;
}

[type='range']::-moz-range-track, [type='range']::-moz-range-progress, [type='range']::-webkit-slider-runnable-track {  
  height: .5rem;
  border-radius: 5rem;
  background-color: blueviolet;
}

[type='range']::-moz-range-thumb, [type='range']::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  background-color: darkslateblue;
}

[type='range']::-moz-range-progress {  
  background-color: #2a09cc;
}

/*////////////////////////////////*/
/*////////////////////////////////*/
/* 
Objeto 
*/

div[var*="obj_"] > .dat > .atr {
  margin: .2rem;
}
div[var*="obj_"] > .dat > .atr > .val {
  margin: .1rem;
}

/*////////////////////////////////*/
/*////////////////////////////////*/
/* 
Estructura
*/

div[var="est"] {
  height: 75vh;
  overflow: auto;  
  background-color: var(--fon_nav);
  padding: 0 .5rem;  
  border: 1px solid var(--bor_val);
  border-radius: .5rem;
  margin: .5rem;
  line-height: 1;
}

div[var="est"] > table {
  margin: 0 auto;
  text-align: center;
}

div[var="est"] > table > tbody > tr:is([data-opc="tit"],[data-opc="det"]) {
  text-align: left; 
  line-height: 1.5;
}

div[var="est"] > table > thead > tr:not(.gru) th,
div[var="est"] > table > tbody > tr:not([data-ope],[data-opc]) td {
  border-right: 1px dotted var(--col_vio);
}

div[var="est"] > table > thead th {
  max-width: min-content;  
}
div[var="est"] > table > thead th > :is(p,span) {
  padding: .5rem;
}

div[var="est"] > table > tbody > tr[data-opc="tit"] > td {
  padding: .5rem 0;
  padding-bottom: .25rem;
}

div[var="est"] > table > tbody > tr[data-ope="lec"][data-opc="det"] > td {
  padding-top: .25rem;
}

div[var="est"] > table > tbody > tr > td > time {
  display: flex;
  max-width: fit-content;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
Tablero
*/
:is(div,table)[tab] {
  min-width: max-content;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;  
  text-align: center;
  font-size: .7rem;
  transition: background 1s, border 1s;  
}
div[tab] {
  display: grid;
  width: fit-content;
  align-self: center;
}

table[tab]{
  border-collapse: collapse;
}

/* posiciones y secciones */
:is(div,table)[tab] :is(div,td)[pos], 
:is(div,table)[tab] :is(div,td)[sec] {
  transition: background 1s, border 1s;
}

div[tab] div[pos]:not([tab]) {
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center; 
  justify-content: center;
  width: 100%;
  height: 100%;  
}

/* Bordes */
:is(div,table)[tab] :is(div,td)[pos].bor-1{
  border-color: #008000;
}/* por seleccion */
:is(div,table)[tab] :is(div,td)[pos]._val-ver {  
  border: 1px solid #991d99;
}/* por marca directa */
:is(div,table)[tab] :is(div,td)[pos]._val-mar {  
  border: 2px solid #610361;
}/* posicion central */
:is(div,table)[tab] :is(div,td)[pos]._val-pos {
  border: 2px solid #9251ce;
}
/* fondos */
:is(div,table)[tab] :is(div,td)[pos][onclick]:not([tab]):hover {
  background-color:var(--tra_ros);
  color:black;
}
/* Fichas */
:is(div,table)[tab] :is([sec],[pos]) > [ima] {
  height: 100%;
  min-width: 100%;
}
/* textos */
:is(div,table)[tab] :is([sec],[pos]) > p {
  text-align: center;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
contenido oculto
*/

div.val > .ico[ide="ope_tog"] {
  text-shadow: 0 0 5px;
}
div.val > .ico[ide="ope_tog"].ocu {
  transform: rotate(270deg);
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
ABM de la base
*/
form.api_dat {
  width: 100%;
  max-width: 40rem;
  background-color: var(--fon_nav);
  border-radius: .5rem;
  padding: 0 .5rem;   
  margin: auto;
}

form.api_dat :is(fieldset,div).atr {
  flex-grow: 2;
  flex-direction: column;
  align-items: start;
  margin: .5rem;
}

form.api_dat :is(fieldset,div).atr label[for] {
  margin: 0;
  color: var(--let_ide);
  padding: .5rem;
}

form.api_dat :is(fieldset,div).atr select,
form.api_dat :is(fieldset,div).atr textarea,
form.api_dat :is(fieldset,div).atr input:not([type='checkbox']):not([type='radio']) {
  width: 100%; width:-webkit-fill-available; width:-moz-available;  
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
Informe
*/
:is(form,fieldset,article,section,div).inf {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border: 1px solid var(--bor_dat);
  border-radius: .5rem;
  margin: .5rem;  
}
:is(form,fieldset,article,section,div).inf.ren {
  flex-flow: row wrap;
}
:is(form,fieldset,article,section,div).inf.ite {
  flex-flow: row nowrap;
}

:is(article,section).inf {
  margin-left: auto;
  margin-right: auto;
}

:is(fieldset,div).inf {
  flex-grow: 2;
  align-items: center;
}

:is(article,section,div).inf > * {
  margin: .5rem;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 
Articulo
*/

/* Párrafos */
article > p,
article section > p{
  margin-bottom: .5rem;
}

/* Listados */
article > ul,
article section > ul {
  margin: 1rem auto;
}

/* Imagenes */
article > figure,
article section > figure {
  margin: 1rem;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
Navegador : listado / pestaña / barra
*/

/* 
por contenido
*/
nav:is(.pes,.bar) {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}
nav:is(.pes,.bar) > a:not(.ico) {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: auto;
  text-align: center;
  font-size: medium;
  color: var(--let_tex);
}
nav:is(.bar,.pes) > a:hover{
  background-color: var(--fon_foc);  
}

/* Contenido */
nav:is(.pes,.bar) + * {
  overflow: auto;
  padding: .5rem;
  margin: 0 .5rem;
}

/* 
barra horizontal 
*/
nav.bar {
  justify-content: space-around;
}
nav.bar > a:not(.ico) {
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-style: italic;
}

/* 
Pestañas 
*/
nav.pes {
  margin: 0 .5rem;
}
nav.pes > a:not(.ico) {    
  min-height: 3rem;
  border-radius: 1rem 1rem 0 0;
  text-decoration: none;  
  font-style: normal;
}
nav.pes > a,
nav.pes + * {
  background-color: var(--fon_art);
  border: 1px solid var(--bor_val);
}
nav.pes + * {  
  border-radius: 0 0 .5rem .5rem;
  border-top: 0;
}

