
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Libros //////////////////////////////////////////////////////////////////////////////////////////////////////*/

body[cab="lib"] > main section {
  padding: 0 2rem;
}

body[cab="lib"][art="asc"] > main section > figure {
  margin: 1em 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Tableros ////////////////////////////////////////////////////////////////////////////////////////////////////*/
body[cab="tab"][art] > main > article {
  line-height: initial;
  padding: 0;
  background: initial;
  border: initial;
}

/* P.A.G. */
:is(div,table):is([tab="kin-tzo"]) :is(._hol-pag_kin,._hol-pag_psi) {
  background-color: var(--tra_ver) !important;
}
:is(div,table):not([tab="kin-tzo"]) :is(._hol-pag_kin,._hol-pag_psi) {
  border: 1px solid var(--col_ver) !important;
}

/* Extensiones */
:is(div,table)[tab] ._hol-par_ana-ext { border: 1px solid var(--col_roj) !important; }
:is(div,table)[tab] ._hol-par_gui-ext { border: 1px solid var(--col_bla) !important; }
:is(div,table)[tab] ._hol-par_ant-ext { border: 1px solid var(--col_azu) !important; }
:is(div,table)[tab] ._hol-par_ocu-ext { border: 1px solid var(--col_ama) !important; }

/* Parejas */
:is(div,table)[tab] ._hol-par_ana { border: 1px solid var(--col_roj) !important; }
:is(div,table)[tab] ._hol-par_gui { border: 1px solid var(--col_bla) !important; }
:is(div,table)[tab] ._hol-par_ant { border: 1px solid var(--col_azu) !important; }
:is(div,table)[tab] ._hol-par_ocu { border: 1px solid var(--col_ama) !important; }

/* 
Oráculo
*/
:is(div,table)[tab] .pos.sec_par {
  border-radius: 50%;
}
:is(div,table)[tab] [tab*="uni_par-"], 
:is(div,table)[tab] [tab*="uni_par-"] > li[pos]{
  width: 100%; 
  height: 100%;
}