
/*  
  Inicio
*/
main section.inicio {
  height: 78vh;
  background: center/contain no-repeat url(../../_img/sincronario/_fondo/sis.png);
  display: grid;
  grid: repeat( 10, 1fr) / repeat( 10, 1fr);
  padding: 1rem;
}

main section.inicio > .-adv {
  margin: initial;  
  grid-column: 4/sp;
  grid-row: 1/2;
}



