
body {
  background: center/cover no-repeat url(../../_img/sincronario/01.jpg);
}

/*  
  Inicio
*/
main section.inicio {
  height: 78vh;
  background: center/contain no-repeat url(../../_img/sincronario/_fondo/sis.png);
  display: grid;
  grid: repeat( 10, 1fr) / repeat( 10, 1fr);
  padding: 1rem;
}
/* Cartel */
main section.inicio > .-adv {
  margin: initial;  
  grid-column: 4/sp;
  grid-row: 1/2;
}
/* Iniciar Sesion */
main section.inicio > .app-ses_ini {
  grid-column: 5/8;
  grid-row: 5;
  padding: 1rem;
}


