
/* 
  Paneles 
*/

/* Datos > totales por estructuras */
.doc_pan > .ide-val > .ide-cue > ul {
  height: 40vh;
}

/* 
  Modales
*/

.doc_win > .ide-lis .doc_nav.bot + div {
  height: 80vh;
  max-height: initial;
}

/* 
  Tableros 
*/
.doc_sec article {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0;
  border: initial;
  margin: auto;
  line-height: initial;  
}

.doc_sec article > .tab {
  margin: .5rem;
}