
@import url('https://fonts.googleapis.com/css2?family=Lora');

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Variables
*/
:root { 

  /* tamaños */
  --tam_cab_max: 6vh;
  --tam_sec_max: 94vh;
  --tam_cab_min: 8vh;
  --tam_sec_min: 92vh;

  /* fondos */
  --fon_win:rgba(015, 015, 015,  1);/* pantalla */
  --fon_sec:rgba(015, 015, 015, .9);/* seccion */
  --fon_art:rgba(015, 015, 015, .6);/* articulo */
  --fon_nav:rgba(020, 005, 005, .3);/* navegador */  
  --fon_sel:rgba(130, 167, 216, .6);/* al seleccionar */
  --fon_foc:rgba(049, 134, 245, .3);/* al hacer foco */  

  /* Bordes */
  --bor_sec:rgb(116, 066, 200);/* contenedor */
  --bor_art:rgb(080, 125, 188);/* contenido */
  --bor_sel:rgb(005, 031, 068);/* al seleccionar */

  /* letras */
  --let_ico:#ccc0b0;
  --let_ide:#779adc;
  --let_val:#cd5de9;
  --let_err:#ff0000;
  --let_num:#7fff00;
  --let_tex:#dfda4c;
  --let_ope:#b8860b;
  --let_lis:#00eeff;
  --let_obj:#001aff;
  
  /* colores sólidos */    
  --col_tra:rgba(0,0,0,0);      
  --col_bla:#ffffff;
  --col_neg:rgb(000,000,000);
  --col_gri:rgb(125,125,125);
  --col_roj:rgb(252,040,071);
  --col_ros:rgb(251,124,253);
  --col_ama:rgb(243,243,026);
  --col_nar:rgb(255,163,067);
  --col_mar:rgb(107,059,008);
  --col_ver:rgb(007,189,025);
  --col_azu:rgb(015,076,129);
  --col_vio:rgb(116,066,200);
  --col_cel:rgb(066,189,200);
    
  /* transparencias */  
  --tra_bla:rgba(255,255,255,.7);
  --tra_neg:rgba(000,000,000,.7);
  --tra_gri:rgba(125,125,125,.7);
  --tra_roj:rgba(252,040,071,.7);
  --tra_ros:rgba(251,124,253,.7);
  --tra_ama:rgba(243,243,026,.7);
  --tra_nar:rgba(255,163,067,.7);
  --tra_mar:rgba(107,059,008,.7);
  --tra_ver:rgba(007,189,025,.7);
  --tra_azu:rgba(015,076,129,.7);
  --tra_vio:rgba(116,066,200,.7);
  --tra_cel:rgba(066,189,200,.7);
}

/* 
  Globales
*/
*, :before, :after {
  box-sizing: border-box;
}
*[onclick] {
  cursor: pointer;
}

/* 
  Página
*/
html {
  font-family: 'Lora', 'Book Antiqua', 'Georgia';
  font-size: 15px;
}
/*  
  tamaño pequeño
*/
@media only screen and ( max-width: 500px ){
  html { 
    font-size: 13px;
  }
}

@media only screen and ( max-width: 700px ){
  body > main article {
    max-width: 100vw;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background: center/cover no-repeat url('../../img/app/fon/01.jpg');
  margin: 0;
  color: var(--let_tex);
  /* para que se vea el modal */
  display: flex;
  flex-direction: column;  
}