/* 
  Fuentes
*/
@import url('https://fonts.googleapis.com/css2?family=Lora');

/* 
  Variables
*/
:root { 

  /* fondos */
  --fon_win:rgba(015, 015, 015,  1);
  --fon_sec:rgba(015, 015, 015, .95);
  --fon_art:rgba(015, 015, 015, .75);
  --fon_dat:rgba(020, 005, 005, .35);/* formulario */
  --fon_ope:rgba(  0,   0,   0, .55);/* controlador */  
  --fon_sel:rgba(130, 167, 216, .65);/* al seleccionar */  
  --fon_foc:rgba(049, 134, 245, .35);/* al hacer foco */  

  /* Bordes */
  --bor_win:rgb(116, 066, 200);
  --bor_sec:rgb(116, 066, 200);
  --bor_art:rgb(080, 125, 188);
  --bor_dat:rgb(054, 016, 117);
  --bor_ope:rgb(204, 192, 176);
  --bor_sel:rgb(005, 031, 068);

  /* letras */
  --let_ico:#ccc0b0;
  --let_err:#ff0000;
  --let_ide:#779adc;
  --let_val:#cd5de9;
  --let_ope:#b8860b;
  --let_tex:#dfda4c;
  --let_num:#7fff00;
  
  /* colores sólidos */    
  --col_tra:rgba(0,0,0,0);      
  --col_bla:#ffffff;
  --col_neg:rgb(000,000,000);
  --col_gri:rgb(125,125,125);
  --col_roj:rgb(252,040,071);
  --col_ros:rgb(251,124,253);
  --col_ama:rgb(243,243,026);
  --col_nar:rgb(255,163,067);
  --col_mar:rgb(107,059,008);
  --col_ver:rgb(007,189,025);
  --col_azu:rgb(015,076,129);
  --col_vio:rgb(116,066,200);
  --col_cel:rgb(066,189,200);
    
  /* transparencias */  
  --tra_bla:rgba(255,255,255,.7);
  --tra_neg:rgba(000,000,000,.7);
  --tra_gri:rgba(125,125,125,.7);
  --tra_roj:rgba(252,040,071,.7);
  --tra_ros:rgba(251,124,253,.7);
  --tra_ama:rgba(243,243,026,.7);
  --tra_nar:rgba(255,163,067,.7);
  --tra_mar:rgba(107,059,008,.7);
  --tra_ver:rgba(007,189,025,.7);
  --tra_azu:rgba(015,076,129,.7);
  --tra_vio:rgba(116,066,200,.7);
  --tra_cel:rgba(066,189,200,.7);
}

/* 
  Globales
*/
*, :before, :after {
  box-sizing: border-box;
}

*[onclick] {
  cursor: pointer;
}

/* 
  Página
*/
html {
  font-family: 'Lora', 'Book Antiqua', 'Georgia';
  font-size: 15px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: var(--let_tex);
  /* para que se vea el modal en toda la pantalla*/
  display: flex;
  flex-direction: column;
}

@media only screen and ( max-width: 700px ){

  body > main article {
    max-width: 100vw;
  }
}

@media only screen and ( max-width: 500px ){

  html { 
    font-size: 13px;
  }
}