/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
debbug ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* 
call-stack
*/
table[class*="xdebug"]{ 
  font-size: .8rem; 
  border-spacing: 0;
}
table[class*="xdebug"] th, 
table[class*="xdebug"] td{ 
  background-color: var(--fon_art); 
}
/* 
var_dump() 
*/
pre[class*="xdebug"]{ 
  background-color:#0f0f0f; 
  padding: 1rem; 
  border-radius: 2rem; 
  border:1px solid var(--col_azu); 
  text-align: left; 
  height: max-content;
}
pre[class*="xdebug"] small{
  color:var(--let_num); 
} 
pre[class*="xdebug"] font{ 
  color:#9b31d0; 
}
pre[class*="xdebug"] b{ 
  color:#ee82ee; 
}
pre[class*="xdebug"] i{ 
  color:#b13030; 
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
PANTALLA::SCROLL
*/
::-webkit-scrollbar {
  width: 7px; 
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: var(--fon_foc);
  border: 2px solid var(--fon_foc);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--fon_foc);  
  border: 2px solid var(--fon_foc);
  border-radius: 5px;
}
select::-webkit-scrollbar-thumb {
  height: 7px;
  background-color: var(--fon_foc);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ANCHO ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.anc-100 { 
  width: 100% !important; 
}
.anc-75 { 
  width: 75% !important; 
}
.anc-50 { 
  width: 50% !important; 
}
.anc-25 { 
  width: 25% !important; 
}
.anc-0 { 
  width: 0% !important; 
}
.anc-ini { 
  width: initial !important; 
}
.anc-aut { 
  width: auto !important; 
}
.anc-aju { 
  width: fit-content !important;
}
.anc-min { 
  width: min-content !important;
}
.anc-max { 
  width: max-content !important;
}

.anc_max-100 { 
  max-width: 100% !important; 
}
.anc_max-75 { 
  max-width: 75% !important; 
}
.anc_max-50 { 
  max-width: 50% !important; 
}
.anc_max-25 { 
  max-width: 25% !important; 
}
.anc_max-0 { 
  max-width: 0% !important; 
}
.anc_max-ini { 
  max-width: initial !important; 
}
.anc_max-aut { 
  max-width: auto !important; 
}
.anc_max-aju { 
  max-width: fit-content !important;
}
.anc_max-min { 
  max-width: min-content !important;
}
.anc_max-max { 
  max-width: max-content !important;
}

.anc_min-100 { 
  min-width: 100% !important; 
}
.anc_min-75 { 
  min-width: 75% !important; 
}
.anc_min-50 { 
  min-width: 50% !important; 
}
.anc_min-25 { 
  min-width: 25% !important; 
}
.anc_min-0 { 
  min-width: 0% !important; 
}
.anc_min-ini { 
  min-width: initial !important; 
}
.anc_min-ini { 
  min-width: auto !important; 
}
.anc_min-aju { 
  min-width: fit-content !important; 
}
.anc_min-min { 
  min-width: min-content !important; 
}
.anc_min-max { 
  min-width: max-content !important; 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ALTO /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.alt-100 { 
  height: 100% !important; 
}
.alt-75 { 
  height: 75% !important; 
}
.alt-50 { 
  height: 50% !important; 
}
.alt-25 { 
  height: 25% !important; 
}
.alt-0 { 
  height: 0% !important; 
}
.alt-ini { 
  height: initial !important; 
}
.alt-aut { 
  height: auto !important; 
}
.alt-aju { 
  height: fit-content !important; 
}
.alt-min { 
  height: min-content !important; 
}
.alt-max { 
  height: max-content !important; 
}

.alt_max-100 { 
  max-height: 100% !important; 
}
.alt_max-75 { 
  max-height: 75% !important; 
}
.alt_max-50 { 
  max-height: 50% !important; 
}
.alt_max-25 { 
  max-height: 25% !important; 
}
.alt_max-0 { 
  max-height: 0% !important; 
}
.alt_max-ini { 
  max-height: initial !important; 
}
.alt_max-aut { 
  max-height: auto !important; 
}
.alt_max-aju { 
  max-height: fit-content !important; 
}
.alt_max-min { 
  max-height: min-content !important; 
}
.alt_max-max { 
  max-height: max-content !important; 
}

.alt_min-100 { 
  min-height: 100% !important; 
}
.alt_min-75 { 
  min-height: 75% !important; 
}
.alt_min-50 { 
  min-height: 50% !important; 
}
.alt_min-25 { 
  min-height: 25% !important; 
}
.alt_min-0 { 
  min-height: 0% !important; 
}
.alt_min-ini { 
  min-height: initial !important; 
}
.alt_min-aut { 
  min-height: auto !important; 
}
.alt_min-aju { 
  min-height: fit-content !important; 
}
.alt_min-min { 
  min-height: min-content !important; 
}
.alt_min-max { 
  min-height: max-content !important; 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Desborde /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.anc-mov {
  overflow-x: scroll;
}
.alt-mov {
  overflow-y: scroll;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Posicionamiento //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.pos-mov {
  position: sticky !important;
  top: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Disposición //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.dis-blo { 
  display: block !important; 
}
.dis-lin { 
  display: inline !important; 
}
.dis-fle { 
  display:flex !important; 
  flex-wrap: wrap;
}
.dis-ocu {   
  display: none !important;
  animation: dis-ocu .5s;
  transition: all .5s;
}
@keyframes dis-ocu {
  from { opacity: 1; } to { opacity: 0; }
}
@keyframes dis-ocu-tam {
  from { transform: scale(1); } to { transform: scale(0); }
}
.dis-ver {
  animation: dis-ver .5s;
}
@keyframes dis-ver {
  from { opacity: 0; } to { opacity: 1; }
}
@keyframes dis-ver-tam {
  from { transform: scale(0); } to { transform: scale(1); }
}
/* 
DIRECCION 
*/
.dir-hor {
  flex-direction: row !important;
  align-items: center; 
  align-content: center; 
  justify-items: center; 
  justify-content: center;
}
.dir-ver {
  flex-direction: column !important; 
  align-content :stretch; 
}

/* 
DESPLAZAMIENTO Y CRECIMIENTO 
*/
.tam-mov { 
  flex-wrap: wrap !important; 
}
.tam-fij { 
  flex-wrap: nowrap !important; 
}
.tam-cre {
  flex-grow: 2 !important; 
  align-self: stretch !important;
}
.tam-ini {
  flex-grow: 0 !important;
  align-self: initial !important;
}

/* ESPACIO */
.esp-ara {
  justify-content: space-around !important; 
}
.esp-bet {
  justify-content: space-between !important; 
}

/* JUSTIFICADO */
.jus-cre { 
  justify-content: stretch !important;
  justify-items: stretch !important;
}
.jus-cen {
  justify-items: center !important; 
  justify-content: center !important;
}
.jus-ini { 
  justify-items: flex-start !important;
  justify-content: flex-start !important;
}
.jus-fin { 
  justify-items:flex-end !important;
  justify-content:flex-end !important;
}

.-jus_pro-cre { 
  justify-self: stretch !important; 
}
.jus_pro-cen { 
  justify-self: center !important;
}
.jus_pro-ini { 
  justify-self: flex-start !important;
}
.jus_pro-fin { 
  justify-self: flex-end !important;
}

/* ALINEAMIENTO */
.ali-cre {
  align-content: stretch !important;
  align-items: stretch !important;
}
.ali-cen {
  align-items: center !important;
  align-content: center !important;
}
.ali-ini {
  align-items: flex-start !important;
  align-content: flex-start !important;
}
.ali-fin {
  align-items: flex-end !important;
  align-content: flex-end !important;
}

.ali_pro-cre { 
  align-self: stretch !important;
}
.ali_pro-cen { 
  align-self: center !important;
}
.ali_pro-ini { 
  align-self: flex-start !important;
}
.ali_pro-fin { 
  align-self: flex-end !important;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
RELLENOS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.pad-0 {
  padding: 0 !important;
}
.pad-1 { 
  padding: .25rem !important;
}
.pad-2 { 
  padding: .5rem !important;
}
.pad-3 { 
  padding: 1rem !important;
}

.pad-aut { 
  padding: auto !important;
}
.pad-ini { 
  padding: initial !important;
}

.pad_hor-0 { 
  padding-right: 0 !important; 
  padding-left: 0 !important; 
}
.pad_hor-1 { 
  padding-right: .3rem !important; 
  padding-left: .3rem !important; 
}
.pad_hor-2 { 
  padding-right: .5rem !important; 
  padding-left: .5rem !important; 
}
.pad_hor-3 { 
  padding-right: 1.5rem !important; 
  padding-left: 1.5rem !important; 
}

.pad_ver-1 { 
  padding-top: 0 !important; 
  padding-bottom: 0 !important; 
}
.pad_ver-1 { 
  padding-top: .3rem !important; 
  padding-bottom: .3rem !important; 
}
.pad_ver-2 { 
  padding-top: .5rem !important; 
  padding-bottom: .5rem !important; 
}
.pad_ver-3 { 
  padding-top: 1.5rem !important; 
  padding-bottom: 1.5rem !important; 
}

.pad_der-0 { 
  padding-right: 0 !important; 
}
.pad_der-1 { 
  padding-right: .5rem !important; 
}
.pad_der-2 { 
  padding-right: 1rem !important; 
}
.pad_der-3 { 
  padding-right: 1.5rem !important; 
}

.pad_arr-0 { 
  padding-top: 0 !important; 
}
.pad_arr-1 { 
  padding-top: .5rem !important; 
}
.pad_arr-2 { 
  padding-top: 1rem !important; 
}
.pad_arr-3 { 
  padding-top: 1.5rem !important; 
}

.pad_izq-0 { 
  padding-left: 0 !important; 
}
.pad_izq-1 { 
  padding-left: .5rem !important; 
}
.pad_izq-2 { 
  padding-left: 1rem !important; 
}
.pad_izq-3 { 
  padding-left: 1.5rem !important; 
}

.pad_aba-0 { 
  padding-bottom: 0 !important; 
}
.pad_aba-1 { 
  padding-bottom: .5rem !important; 
}
.pad_aba-2 { 
  padding-bottom: 1rem !important; 
}
.pad_aba-3 { 
  padding-bottom: 1.5rem !important; 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
MARGEN ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.mar-0 {
  margin: 0 !important;
}
.mar-1 { 
  margin: .5rem !important;
}
.mar-2 { 
  margin: 1rem !important;
}
.mar-3 { 
  margin: 1.5rem !important;
}

.mar-aut { 
  margin: auto !important;
} 
.mar-ini { 
  margin: initial !important;
} 

.mar_hor-aut { 
  margin-left: auto !important; 
  margin-right: auto !important; 
}
.mar_hor-0 { 
  margin-left: 0 !important; 
  margin-right: 0 !important;
}
.mar_hor-1 { 
  margin-left: .3rem !important; 
  margin-right: .3rem !important;
}
.mar_hor-2 { 
  margin-left: .5rem !important; 
  margin-right: .5rem !important;
}
.mar_hor-3 { 
  margin-left: 1rem !important; 
  margin-right: 1rem !important;
}

.mar_ver-aut { 
  margin-top: auto !important; 
  margin-bottom: auto !important; 
}
.mar_ver-0 { 
  margin-top: 0 !important; 
  margin-bottom: 0 !important; 
}
.mar_ver-1 { 
  margin-top: .3rem !important; 
  margin-bottom: .3rem !important; 
}
.mar_ver-2 { 
  margin-top: .5rem !important; 
  margin-bottom: .5rem !important; 
}
.mar_ver-3 { 
  margin-top: 1rem !important; 
  margin-bottom: 1rem !important; 
}

.mar_der-aut { 
  margin-right: auto !important; 
}
.mar_der-0 { 
  margin-right: 0 !important; 
}
.mar_der-1 { 
  margin-right: .5rem !important; 
}
.mar_der-2 { 
  margin-right: 1rem !important; 
}
.mar_der-3 { 
  margin-right: 1.5rem !important; 
}

.mar_arr-aut { 
  margin-top: auto !important; 
}
.mar_arr-0 { 
  margin-top: 0 !important; 
}
.mar_arr-1 { 
  margin-top: .5rem !important; 
}
.mar_arr-2 { 
  margin-top: 1rem !important; 
}
.mar_arr-3 { 
  margin-top: 1.5rem !important; 
}

.mar_izq-aut { 
  margin-left: auto !important; 
}
.mar_izq-0 { 
  margin-left: 0 !important; 
}
.mar_izq-1 { 
  margin-left: .5rem !important; 
}
.mar_izq-2 { 
  margin-left: 1rem !important; 
}
.mar_izq-3 { 
  margin-left: 1.5rem !important; 
}

.mar_aba-aut { 
  margin-bottom: auto !important; 
}
.mar_aba-0 { 
  margin-bottom: 0 !important; 
}
.mar_aba-1 { 
  margin-bottom: .5rem !important; 
}
.mar_aba-2 { 
  margin-bottom: 1rem !important; 
}
.mar_aba-3 { 
  margin-bottom: 1.5rem !important; 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
BORDES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
[class*="bor-"]{ 
  border-style: solid !important;
}

.bor_arr-0 {
  border-top-width: 0 !important;
}
.bor_arr-1 {
  border-top-width: 1px !important;
}
.bor_arr-2 { 
  border-top-width: 2px !important;
}
.bor_arr-3 { 
  border-top-width: 3px !important;
}

.bor_der-0 {
  border-right-width: 0 !important;
}
.bor_der-1 {
  border-right-width: 1px !important;
}
.bor_der-2 {
  border-right-width: 2px !important;
}
.bor_der-3 {
  border-right-width: 3px !important;
}

.bor_aba-0 {
  border-bottom-width: 0 !important;
}
.bor_aba-1 {
  border-bottom-width: 1px !important;
}
.bor_aba-2 {
  border-bottom-width: 2px !important;
}
.bor_aba-3 {
  border-bottom-width: 3px !important;
}

.bor_izq-0 {
  border-left-width: 0 !important;
}
.bor_izq-1 {
  border-left-width: 1px !important;
}
.bor_izq-2 {
  border-left-width: 2px !important;
}
.bor_izq-3 {
  border-left-width: 3px !important;
}

.bor-0 { 
  border: 0 !important;
}
.bor-1 {
  border-width: 1px !important;
}
.bor-2 { 
  border-width: 2px !important;
}
.bor-3 { 
  border-width: 3px !important;
}

/* Estilos */
.bor-dob {
  border-style: double !important; 
}
.bor-das {
  border-style: dashed !important; 
}
.bor-luz {
  box-shadow: 0 0 5px black;
}

/* Espaciado */
[class*="bor_esp-"] {
  border-collapse: separate !important;
}
.bor_esp-1 {
  border-spacing: .5rem .5rem !important;
}
.bor_esp-2 {
  border-spacing: 1rem 1rem !important;
}
.bor_esp-1 {
  border-spacing: 1.5rem 1.5rem !important;
}

/* Colores */
.bor-sel {
  border-width: 1px !important;
  border-color: var(--col_azu) !important;
  border-radius: .3rem !important; 
}
.bor-val { 
  border-width: 1px !important;
  border-color: var(--col_ros) !important; 
  border-radius: .3rem !important;
}

/* 
bordes - color 
*/
[class*='bor_col-'] {
  border-width: 2px !important;
  border-style: double !important;
}
/* de 3*/
.bor_col-3-1 { border-color: var(--col_roj) !important; }
.bor_col-3-2 { border-color: var(--col_azu) !important; }
.bor_col-3-3 { border-color: var(--col_ver) !important; }
/* de 4 - 5*/
.bor_col-5-1, .bor_col-4-1 { border-color: var(--col_roj) !important; }
.bor_col-5-2, .bor_col-4-2 { border-color: var(--col_bla) !important; }
.bor_col-5-3, .bor_col-4-3 { border-color: var(--col_azu) !important; }
.bor_col-5-4, .bor_col-4-4 { border-color: var(--col_ama) !important; }
.bor_col-5-5, .bor_col-5-0, .bor_col-4-0 { border-color: var(--col_ver) !important; }
/* de 7 */
.bor_col-7-1 { border-color: var(--col_ros) !important; }
.bor_col-7-2 { border-color: var(--col_roj) !important; }
.bor_col-7-3 { border-color: var(--col_vio) !important; }
.bor_col-7-4 { border-color: var(--col_nar) !important; }
.bor_col-7-5 { border-color: var(--col_azu) !important; }
.bor_col-7-6 { border-color: var(--col_ama) !important; }
.bor_col-7-7 { border-color: var(--col_ver) !important; }

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Circunferencia ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.bor_cir-1 { 
  border-radius: 15% !important; 
}
.bor_cir-2 { 
  border-radius: 25% !important; 
}
.bor_cir-3 { 
  border-radius: 35% !important; 
}
.bor_cir-4 { 
  border-radius: 50% !important; 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Fondos : imagen + color + icono //////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.fon {
  background-size: contain; background-repeat: no-repeat; background-position: center;
}

/* color 1-11 */
.fon-sel { background-color: var(--fon_foc) !important; }
.fon-roj { background-color: var(--col_roj) !important; }
.fon-bla { background-color: var(--col_bla) !important; }
.fon-azu { background-color: var(--col_azu) !important; }
.fon-ama { background-color: var(--col_ama) !important; }
.fon-ver { background-color: var(--col_ver) !important; }
.fon-vio { background-color: var(--col_ros) !important; }
.fon-ind { background-color: var(--col_vio) !important; }
.fon-nar { background-color: var(--col_nar) !important; }
.fon-neg { background-color: var(--col_neg) !important; }
.fon-gri { background-color: var(--col_gri) !important; }

/* color por agrupamiento */
[class*='fon_col-']:not(.fon-0),
[class*='fon_col-']:not(.fon-0,[class*='fon_col-1-']) > n{
  color:black !important;
}
/* Seleccion de 1-0*/
.fon_col-1-0 { background-color: transparent; color: initial !important; }
.fon_col-1-1 { background-color: var(--tra_ver); }
/* Seleccion de 2*/
.fon_col-2-1 { background-color: var(--tra_ver); }
.fon_col-2-2 { background-color: var(--tra_ama); }
/* Seleccion de 3*/
.fon_col-3-1 { background-color: var(--tra_roj); }
.fon_col-3-2 { background-color: var(--tra_azu); }
.fon_col-3-3 { background-color: var(--tra_ver); }
/* Seleccion de 4 a 5*/
.fon_col-5-1, .fon_col-4-1 { background-color: var(--tra_roj); }
.fon_col-5-2, .fon_col-4-2 { background-color: var(--tra_bla); }
.fon_col-5-3, .fon_col-4-3 { background-color: var(--tra_azu); }
.fon_col-5-4, .fon_col-4-4 { background-color: var(--tra_ama); }
.fon_col-5-5, .fon_col-5-0 { background-color: var(--tra_ver); }
/* Seleccion de 7 */
.fon_col-7-1, .fon_col-10-1 { background-color: var(--tra_ros); }
.fon_col-7-2, .fon_col-10-2 { background-color: var(--tra_roj); }
.fon_col-7-3, .fon_col-10-3 { background-color: var(--tra_vio); }
.fon_col-7-4, .fon_col-10-4 { background-color: var(--tra_nar); }
.fon_col-7-5, .fon_col-10-5 { background-color: var(--tra_azu); }
.fon_col-7-6, .fon_col-10-6 { background-color: var(--tra_ama); }
.fon_col-7-7, .fon_col-10-7 { background-color: var(--tra_ver); }
.fon_col-10-8 {  background-color: var(--tra_bla); }
.fon_col-10-9 {  background-color: var(--tra_gri); }
.fon_col-10-10 { background-color: var(--tra_neg); color: var(--col_bla) !important; }


/* 
sin fondo */
.fon-0 {
  background: unset !important;
  box-shadow: unset !important;
}
/* sin color */
.fon_col-0 {  
  background-color: transparent !important; 
  box-shadow: unset !important;
}
/* sin imagen */
.fon_ima-0 {
  background-image: initial !important;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Listas ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/ 
/* 
  punteos 
*/
ol.ite-let {
  list-style-type: lower-latin;
}
ol.ite-rom {
  list-style-type: lower-roman;
}
ol.ite-let_may {
  list-style-type: upper-latin;
}
ol.ite-rom_may {
  list-style-type: upper-roman;
}

ul.ite-pun {
  list-style: disc;
}
ul.ite-cir {
  list-style: circle;
}
ul.ite-cua {
  list-style: square;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
TEXTO ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/ 

.tex_ali-cen { 
  text-align: center !important;
}
.tex_ali-izq { 
  text-align: left !important;
}
.tex_ali-der { 
  text-align: right !important;
}

/* 
Letra 
*/
.tex-enf { 
  font-weight: bold !important;
}
.tex-cur {
  font-style: italic !important;
}
.tex-sub {
  text-decoration: underline !important;
}
.tex-tit {
  /* font-weight: bold !important; */
  font-style: italic !important;
  text-decoration: underline !important;
}
.tex-luz {
  text-shadow: 0 0 5px;
}

.tex-1 {
  font-size: .5rem !important;
}
.tex-2 {
  font-size: .75rem !important;
}
.tex-3 {
  font-size: 1rem !important;
}
.tex-4 {
  font-size: 1.25rem !important;
}
.tex-5 {
  font-size: 1.5rem !important;
}
.tex-6 {
  font-size: 1.75rem !important;
}

/* Colores */

/* Seleccion de 2*/
.col-2-1 { color: var(--tra_ver); }
.col-2-2 { color: var(--tra_ama); }
/* Seleccion de 3*/
.col-3-1 { color: var(--tra_roj); }
.col-3-2 { color: var(--tra_azu); }
.col-3-3 { color: var(--tra_ver); }
/* Seleccion de 4 a 5*/
.col-5-1, .col-4-1 { color: var(--tra_roj); }
.col-5-2, .col-4-2 { color: var(--tra_bla); }
.col-5-3, .col-4-3 { color: var(--tra_azu); }
.col-5-4, .col-4-4 { color: var(--tra_ama); }
.col-5-5, .col-5-0 { color: var(--tra_ver); }
/* Seleccion de 7 */
.col-7-1, .col-10-1 { color: var(--tra_ros); }
.col-7-2, .col-10-2 { color: var(--tra_roj); }
.col-7-3, .col-10-3 { color: var(--tra_vio); }
.col-7-4, .col-10-4 { color: var(--tra_nar); }
.col-7-5, .col-10-5 { color: var(--tra_azu); }
.col-7-6, .col-10-6 { color: var(--tra_ama); }
.col-7-7, .col-10-7 { color: var(--tra_ver); }
.col-10-8 {  color: var(--tra_bla); }
.col-10-9 {  color: var(--tra_gri); }
.col-10-10 { color: var(--tra_neg); }

/* 
color
*/
.col-roj { color: var(--col_roj) !important; }
.col-bla { color: var(--col_bla) !important; }
.col-azu { color: var(--col_azu) !important; }
.col-ama { color: var(--col_ama) !important; }
.col-ver { color: var(--col_ver) !important; }
.col-vio { color: var(--col_ros) !important; }
.col-ind { color: var(--col_vio) !important; }
.col-nar { color: var(--col_nar) !important; }
.col-neg { color: var(--col_neg) !important; }
.col-gri { color: var(--col_gri) !important; }