
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/*  
  Inicio
*/
main section.inicio {
  height: 78vh;
  background: center/contain no-repeat url(../../img/hol/fon/sis.png);
  display: grid;
  grid: repeat( 10, 1fr) / repeat( 10, 1fr);
  padding: 1rem;
}

main section.inicio > .doc_tex.-adv {
  margin: initial;  
  grid-column: 4/sp;
  grid-row: 1/2;
}

/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* 
  Operador: Modulos
*/

/* 
  Panel 
*/

/* Cuentas */
aside.doc_pan > .ide-val > .ide-cue > ul {
  height: 40vh;
}


/* 
  Tablero 
*/
body:is([data-cab="kin"],[data-cab="psi"]) main.doc_sec article {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0;
  border: initial;
  margin: auto;
  line-height: initial;  
}

body:is([data-cab="kin"],[data-cab="psi"]) main.doc_sec article > .tab {
  margin: .5rem;
  padding: 1rem;
}