

/* 
  Tablas 
*/
body > main article div.dat_lis > table {
  width: initial;
}

/*
  Articulo: Glosarios 
*/
body[data-art="glosario"] > main article li.pos > .ope_val > p {
  color: var(--let_ide);
}

/* 
  Libros 
*/
.tex_bib {
  max-width: 100%;
}
