
/* 
  Paneles 
*/

/* Datos > totales por estructuras */
.ope_pan > .ide-val .ide-cue > ul {
  height: 60vh;
}

/* 
  Listado
*/
.ope_win > .ide-lis .doc_nav.bot + div {
  height: 80vh;
  max-height: initial;
}

/* Estructuras */
.ope_win > .ide-est {
  max-width: 60rem;
  height: 90vh;
}
.ope_win > .ide-est > div {
  padding: 0;
}
.ope_win > .ide-est > div > .doc_est {
  height: 77vh;
}

/* 
  Tableros 
*/
.ope_sec article {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0;
  border: initial;
  margin: auto;
  line-height: initial;  
}

.ope_sec article > .dat_tab {
  margin: .5rem;
}