

/*
  Paneles:
*/
/* Menú */
.ope_pan > .ide-app_cab ul.ope_lis.nav {
  height: 84vh;
}

/* Indice */
.ope_pan > .ide-app_nav ul.ope_lis.nav {
  height: 80vh;
}


/* 
  Modales:
*/

/* Consola del Sistema */
.ope_win .ide-app_adm .ide-ico ul.lis.ite {
  height: 58vh;
  overflow: scroll;
}

/* Sesion del usuario */
.ope_win .ide-app_usu .ope_nav.bot {
  height: 100%;
}