/* 
  Contenido: Listado, Renglón y Línea
*/
.doc_lis,
.doc_ren,
.doc_ite {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-items: center;
}


.doc_ren {
  flex-wrap: wrap;
}
.doc_lis {
  flex-direction: column !important;
  align-items: stretch;
}

:is(.doc_ren,.doc_ite) {
  flex-grow: 2;
  align-self: stretch;
}

/* 
  Contenedor
*/
.doc_val {
  width: -moz-fit-content;
  width: fit-content;  
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-items: center;
}
.doc_val > .fig_ico.ide-val_tog {
  text-shadow: 0 0 5px;
}
.doc_val > .fig_ico.ide-val_tog.ocu {
  transform: rotate(270deg);
}

/* 
  Botones: .doc_bot > a/button/span
*/
.doc_bot {  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}

/* por iconos/imagenes :  */
.doc_bot>:not(.tex).dir-ver > * {
  margin: .2rem 0;
}
.doc_bot:not(.tex,.dir-ver) > * {
  margin: 0 .3rem;
}

/* por texto */
.doc_bot.tex {
  width: initial;
  flex-direction: column;
  align-items: stretch;
  padding: .5rem;
}
.doc_bot.tex > button {
  margin-bottom: .5rem;
}
.doc_bot.tex > button:hover {
  background-color: var(--fon_foc);
}

/* 
  Cartel textual
*/
.doc_tex {
  max-width: max-content;
  background-color: var(--fon_sec);
  padding: .5rem;
  border: 2px dashed var(--let_ico);
  border-radius: .5rem;
  box-shadow: 0 0 5px;
  margin: 1rem auto;
}
.doc_tex > header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/* 
  Informe 
*/
.doc_inf {
  display: flex;
  flex-direction: column;
  padding: .25rem;
  border: 1px solid var(--bor_sec);
  border-radius: .5rem;
  margin: .5rem;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
  Seccion Principal 
*/
.doc_sec {
  height: var(--tam_sec_max);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;  
  background-color: var(--fon_art);/* por barra de desplazamiento */
  text-align: center;
}

/* Titulo */
.doc_sec > header {
  width: 100%;
  background-color: var(--fon_sec);  
}

/* Articulos */
.doc_sec article {
  width: 100%;
  max-width: 700px;
  height: max-content;
  /* margin: .5rem auto; */
  padding: .5rem 1rem;
  border-radius: .5rem;
  /* border: 1px solid var(--bor_sel); */
  background-color: var(--fon_sec);
}

/* 
  Cabecera : botones de acceso a inicio + paneles + modales 
*/
.doc_cab {
  display: flex;
  height: var(--tam_cab_max);
  justify-content: space-between;
  background-color: var(--fon_win);
}

.doc_cab > nav {
  margin: auto 0;
}

.doc_cab > nav > a {
  padding: .25rem;
}


/* 
  Laterales 
*/
:is(.doc_pan,.doc_bar) {  
  z-index: 9999;
  position: fixed;
  top: var(--tam_cab_max);
  display: flex;
  height: var(--tam_sec_max);
  width: 450px;
  background-color: var(--fon_sec);
}

/* 
  izquierda: panel movil 
*/
@keyframes doc_pan-ver {
  from { transform: translate(-5rem); } to { transform: translate(0rem); }
}
@keyframes doc_pan-ocu {
  from { transform: translate(0rem); } to { transform: translate(-5rem); }
}
.doc_pan {
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--col_azu);
  border-left: 0;
  border-radius: 0 1rem 1rem 0;    
  transition: all 1s;
  animation: doc_pan-ver 1s, dis-ver 1s;
}
.doc_pan.dis-ocu {  
  animation: doc_pan-ocu 1s;
  display: flex !important;
  width: 0 !important;
  height: 0 !important;   
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.doc_pan > [class*="ide-"] {
  width: 100%;
  animation: dis-ver 1s;
}
.doc_pan > [class*="ide-"] > header {
  display: flex;
  justify-content: space-between;  
  padding: .5rem;
  text-align: center;
}
.doc_pan > [class*="ide-"] > header + * {
  max-height: 90vh;
  overflow: auto;
}

/* 
  derecha: sidebar 
*/
.doc_bar {
  max-width: 100%;
}


/* 
  pie de página 
*/
.doc_pie {
  padding: .5rem;
  text-align: center;
}


/*
  Modales
*/
.doc_win {  
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0,0,0,.8);  
  text-align: center;
  animation: dis-ver .5s;
}
.doc_win > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 90vh;
  width: 95%;
  max-width: 50rem;
  overflow: hidden;  
  background-color: var(--fon_sec);
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  line-height: 1.5;
  animation: dis-ver 1s, dis-ver-tam .5s;
}
.doc_win > article > header {    
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  padding: .25rem;
  height: 3rem;
}
.doc_win > article > header + * {
  flex-grow: 2;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.doc_win > article > header + * > section {
  margin: .5rem;  
}

/* 
  Ajustes de Pantalla
*/

@media only screen and ( max-width: 700px ){

  body > main article {
    max-width: 100vw;
  }
}

@media only screen and ( max-width: 500px ){

  html { 
    font-size: 13px;
  }
}

@media only screen and ( orientation: landscape ) and ( max-height: 500px ){

  header.doc_cab {
    height: var(--tam_cab_min);
  }
  aside:is(.doc_pan, .doc_bar) {
    top: var(--tam_cab_min);
    height: var(--tam_sec_min);
  }
  main.doc_sec {
    height: var(--tam_sec_min);
  }
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
  Navegadores por Contenido
*/
.doc_nav:is(.pes,.bar,.bot) {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

.doc_nav:is(.pes,.bar) > a:not(.fig_ico) {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  font-size: medium;
  color: var(--let_tex);
  margin: auto;
  text-decoration: none;
}

.doc_nav:is(.bar,.pes) > a:hover{
  background-color: var(--fon_foc);
}

/* Contenedor */
.doc_nav:is(.pes,.bar,.bot) + :is(div,section) {
  overflow: auto;
  margin: 0 .5rem;
}
.doc_nav:is(.pes,.bar,.bot) + :is(div,section) > [class*="ide-"] {
  animation: dis-ver 1s;
}

/* - Barra */
.doc_nav.bar {
  justify-content: space-around;
}
.doc_nav.bar > a:not(.fig_ico) {
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-style: italic;
}

/* - Pestañas */
.doc_nav.pes {
  margin: 0 .5rem;
}
.doc_nav.pes > a:not(.fig_ico) {    
  min-height: 3rem;
  border-radius: 1rem 1rem 0 0;
  text-decoration: none;  
  font-style: normal;
}
.doc_nav.pes > a,
.doc_nav.pes + * {
  background-color: var(--fon_art);
  border: 1px solid var(--bor_art);
}
.doc_nav.pes + * {  
  border-radius: 0 0 .5rem .5rem;
  border-top: 0;
}

/* - Operadores / botones */
.doc_nav.bot + :is(div,section) {
  z-index: 900;
  position: absolute;
  width: 100%;
  max-height: 60vh; 
  background-color: var(--fon_sec);
  padding: .5rem;
  margin: 0;
  border-top: 1px solid var(--bor_art);
  border-bottom: 1px solid var(--bor_art);
}

