
:root { 
  /* tamaños */
  --tam_cab_max: 6vh;
  --tam_sec_max: 94vh;
  --tam_cab_min: 9vh;
  --tam_sec_min: 91vh;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Seccion Principal 
*/
.ope_sec {
  height: var(--tam_sec_max);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;  
  background-color: var(--fon_sec);
  text-align: center;
}

/* Cabecera y Pie */
.ope_sec > :is(header,footer) {
  width: 100%;
}

/* 
  Articulos 
*/
.ope_sec article {  
  max-width: 750px;
  height: max-content;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Cabecera : botones de acceso a inicio + paneles + modales 
*/
.ope_cab {
  display: flex;
  height: var(--tam_cab_max);
  justify-content: space-between;
  background-color: var(--fon_win);
}

.ope_cab > nav {
  margin: auto .25rem;
}

.ope_cab > nav > a {
  padding: .15rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Laterales 
*/
:is( .ope_pan, .ope_bar ) {  
  z-index: 9999;
  position: fixed;
  top: var(--tam_cab_max);
  display: flex;
  height: var(--tam_sec_max);
  width: 450px;
  background-color: var(--fon_sec);
}

/* 
  izquierda: panel movil 
*/
@keyframes doc_pan-ver {
  from { transform: translate(-5rem); } to { transform: translate(0rem); }
}
@keyframes doc_pan-ocu {
  from { transform: translate(0rem); } to { transform: translate(-5rem); }
}

.ope_pan {
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--col_azu);
  border-left: 0;
  border-radius: 0 1rem 1rem 0;    
  transition: all 1s;
  animation: doc_pan-ver 1s, dis-ver 1s;
}
.ope_pan.dis-ocu {  
  animation: doc_pan-ocu 1s;
  display: flex !important;
  width: 0 !important;
  height: 0 !important;   
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.ope_pan > [class*="ide-"] {
  width: 100%;
  animation: dis-ver 1s;
}
.ope_pan > [class*="ide-"] > header {
  display: flex;
  justify-content: space-between;  
  padding: .25rem;
  text-align: center;
}
.ope_pan > [class*="ide-"] > header + * {
  max-height: 91vh;
  overflow: auto;
}

/* 
  derecha: sidebar 
*/
.ope_bar {
  max-width: 100%;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  pie de página 
*/
.ope_pie {
  width: 100%;
  padding: .5rem;
  background-color: var(--fon_win);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
  Ajustes de Pantalla
*/

@media only screen and ( orientation: landscape ) and ( max-height: 500px ){

  .ope_cab {
    height: var(--tam_cab_min);
  }

  :is(.ope_pan, .ope_bar) {
    top: var(--tam_cab_min);
    height: var(--tam_sec_min);
  }
  
  .ope_sec {
    height: var(--tam_sec_min);
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/*
  Modales
*/
.ope_win {  
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0,0,0,.9);  
  text-align: center;
  animation: dis-ver .5s;
}

.ope_win > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 90vh;
  width: 95%;
  max-width: 50rem;
  overflow: hidden;  
  background-color: var(--fon_sec);
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  padding: 0;
  /* line-height: 1.5; */
  animation: dis-ver 1s, dis-ver-tam .5s;
}

.ope_win > article > header {    
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  padding: .25rem;
  height: 3rem;
}

.ope_win > article > header + * {
  flex-grow: 2;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

/* Operador */
.ope_win > .ide-ope {
  z-index: 9999;
  height: 95vh;
  background-color: var(--fon_win);
}
.ope_win > .ide-ope > header + * {
  align-items: center;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Navegadores por Contenido
*/
.ope_nav:is(.pes,.tex,.bar) {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

.ope_nav:is(.pes,.tex) > a:not(.val_ico) {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  font-size: medium;
  color: var(--let_tex);
  margin: auto;
  text-decoration: none;
}

.ope_nav:is(.pes,.tex) > a:hover{
  background-color: var(--fon_foc);
}

/* Contenedor */
.ope_nav:is(.pes,.tex,.bar) + :is(div,section) {
  overflow: auto;
  margin: 0 .5rem;
}
.ope_nav:is(.pes,.tex,.bar) + :is(div,section) > [class*="ide-"] {
  animation: dis-ver 1s;
}

/* - Pestañas: icono + texto */
.ope_nav.pes {
  margin: 0 .5rem;
}
.ope_nav.pes > a:not(.val_ico) {    
  min-height: 3rem;
  border-radius: 1rem 1rem 0 0;
  text-decoration: none;  
  font-style: normal;
}
.ope_nav.pes > a,
.ope_nav.pes + * {
  background-color: var(--fon_art);
  border: 1px solid var(--bor_art);
}
.ope_nav.pes + * {  
  border-radius: 0 0 .5rem .5rem;
  border-top: 0;
}

/* - Solo Texto */
.ope_nav.tex {
  justify-content: space-around;
}
.ope_nav.tex > a:not(.val_ico) {
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-style: italic;
}


/* - Solo iconos */
.ope_nav.bar + :is(div,section) {
  z-index: 900;
  position: absolute;
  width: 100%;
  max-height: 70%; 
  background-color: var(--fon_win);
  padding: .5rem;
  margin: 0;
  /* efectos */
  box-shadow: 0 0 5px var(--bor_art);
  margin: .25rem;
  width: 99%;  
}

/* - Solo Botones: accesos por contenido o enlaces... a/button/span */
.ope_nav.bot {  
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin: 0;
  padding: .5rem;
}
.ope_nav.bot > * {
  margin-bottom: .5rem;
  padding: .5rem;
}
.ope_nav.bot > button:hover {
  background-color: var(--fon_foc);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Botonera Horizontal por iconos/imagenes
*/
.ope_bot {
  display: flex;
  flex-flow: row nowrap;
  padding: .25rem;
}
.ope_bot:not(.dir-ver) > *:not(:last-child) {
  margin-right: .25rem;
}

/* items en Vertical */
.ope_bot.dir-ver > *:not(:last-child) {
  margin-bottom: .5rem;
}

/* efectos de botones */
.ope_bot > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ope_bot > button:hover {
  background-color: var(--fon_foc);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Cartel
*/
.ope_tex {
  display: flex;
  flex-direction: column;
  width: max-content;
  background-color: var(--fon_sec);
  padding: .5rem 1rem;
  border: 2px dashed var(--let_ico);
  border-radius: .5rem;
  box-shadow: 0 0 5px;
  margin: auto;
}
.ope_tex > header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Informe : recuadro de contenido vertical con separaciones
*/
.ope_inf {
  display: flex;
  flex-direction: column;
  padding: .25rem;
  border: 1px solid var(--bor_dat);
  border-radius: .5rem;
  margin: .5rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
variable : div > label + input
*/
.ope_var {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: .25rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Contenedor
*/
.ope_val {
  width: -moz-fit-content;
  width: fit-content;  
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-items: center;
}
.ope_val > .val_ico.ide-ope_tog {
  text-shadow: 0 0 5px;
}
.ope_val > .val_ico.ide-ope_tog.ocu {
  transform: rotate(270deg);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
  Articulo 
*/
article {
  width: 100%;
  margin: .5rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
}

/* cabecera y pie */
article > :is(header,footer) {
  width: 100%;
  padding: 1rem;
}

/* contenido */
article > section,
article > div > section {
  margin-bottom: 1rem !important;
  width: 100%;
}

/* titulos */
article :is(h2,h3,h4) {
  margin-top: 2rem;
}
article :is(h5,h6) {
  margin-top: 1.5rem;
}

/* parrafos */
article > p,
article section > p {
  margin-bottom: .25rem;
  line-height: 1.5;
}

/* listados */
article > ul.lis,
article section > ul.lis {
  margin: .5rem auto;
  max-width: fit-content;
}


