/* 
  Opciones
*/
input:is([type='radio'], [type='checkbox']) {
  cursor: pointer;
}

input[type='color']{
  width: 2rem;
}

select, 
datalist,
option, 
optgroup {
  cursor: pointer;  
  font-family: var(--tex);
  color: var(--let_tex);
}
optgroup {
  color: var(--let_opc);
}

select.num {
  color: var(--let_num);
}

/* 
  Numero
*/
div.var_num {
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  align-content: center;
}
input[type='number'] {
  color: var(--let_num);
}

/* rangos */
input[type='range'] {  
  /* -webkit-appearance: none; */
  cursor: pointer;
  background-color: transparent;
  color: var(--let_num);
  border:0;
  padding: 0;
  margin: 0;
}
input[type='range']::-moz-range-track, 
input[type='range']::-moz-range-progress, 
input[type='range']::-webkit-slider-runnable-track {  
  height: .5rem;
  border-radius: 5rem;
  background-color: blueviolet;
}
input[type='range']::-moz-range-thumb, 
input[type='range']::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  background-color: darkslateblue;
}
input[type='range']::-moz-range-progress {  
  background-color: #2a09cc;
}

/* 
  Textos
*/
textarea {
  padding: .6rem;
  resize: vertical;
}


/* 
  Fecha
*/

input:is([type='datetime-local'],[type='date'],[type='time']){
  top: 0;
  color: var(--let_num);
}
input[type*='date']::-webkit-clear-button {
  height: 30px;
  position: relative;
  right: 5px;
  margin-right: 4px;
  font-size: 15px;
}
input[type*='date']::-webkit-inner-spin-button {
  height: 30px;
}

/* 
  Objeto 
*/
div.obj > .dat > .atr {
  margin: .2rem;
}
div.obj > .dat > .atr > .val {
  margin: .1rem;
}
