
/* 
  Iconos
*/
.fig_ico {
  background-color: var(--col_tra);
  padding: 0;
  border: 0;
  margin: 0;
}

/* Iconos */
.fig_ico[class*='material-icons-']{
  color: #ccc0b0;
  font-size: 1.5rem;
  text-decoration: none;
}
.fig_ico.tam-0 { font-size: .5rem; }
.fig_ico.tam-1 { font-size: 1rem; }
.fig_ico.tam-2 { font-size: 1.25rem; }
.fig_ico.tam-3 { font-size: 1.5rem; }
.fig_ico.tam-4 { font-size: 1.75rem; }
.fig_ico.tam-5 { font-size: 2rem; }
.fig_ico.tam-6 { font-size: 2.25rem; }
.fig_ico.tam-7 { font-size: 2.5rem; }

.fig_ico:is([href],[onclick]):hover {
  text-shadow: 0 0 5px;
}
