
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 
  Contenido
*/

/* Tableros */
.ope_sec article {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0;
  border: initial;
  margin: auto;
  line-height: initial;  
}

.ope_sec article > .dat_tab {
  margin: .5rem;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 
  Paneles 
*/

/* Datos > totales por estructuras */
.ope_pan > .ide-ope .ide-cue > ul {
  height: 60vh;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 
  Modales
*/

/* Listado */
.ope_win > .ide-lis {
  max-width: 60rem;
  height: 90vh;
}
.ope_win > .ide-lis > div {
  padding: 0;
}
.ope_win > .ide-lis > div > .dat_lis {
  height: 77vh;
}

.ope_win > .ide-lis .ope_nav.ico + div {
  height: 80vh;
  max-height: initial;
}