@import url('https://fonts.googleapis.com/css2?family=Lora');

:root { 
  /* 
    colores:
  */

  /* fondos */
  --fon_win:rgba(015, 015, 015, 1);
  --fon_sec:rgba(015, 015, 015, .9);
  --fon_art:rgba(015, 015, 015, .6);
  --fon_nav:rgba(020, 005, 005, .3);
  --fon_foc:rgba(049, 134, 245, .3);
  --fon_sel:rgba(130, 167, 216, .6);

  /* Bordes */
  --bor_val:rgb(080, 125, 188);
  --bor_sel:rgb(005, 031, 068);
  --bor_dat:rgb(116, 066, 200);

  /* letras */
  --let_ide:#779adc;
  --let_val:#cd5de9;
  --let_err:#ff0000;
  --let_num:#7fff00;
  --let_tex:#dfda4c;
  --let_ope:#b8860b;
  --let_lis:#00eeff;
  --let_obj:#001aff;
  
  /* colores sólidos */    
  --col_tra:rgba(0,0,0,0);      
  --col_bla:#ffffff;
  --col_neg:rgb(000,000,000);
  --col_gri:rgb(125,125,125);
  --col_roj:rgb(252,040,071);
  --col_ros:rgb(251,124,253);
  --col_ama:rgb(243,243,026);
  --col_nar:rgb(255,163,067);
  --col_mar:rgb(107,059,008);
  --col_ver:rgb(007,189,025);
  --col_azu:rgb(015,076,129);
  --col_vio:rgb(116,066,200);
  --col_cel:rgb(066,189,200);
    
  /* transparencias */  
  --tra_bla:rgba(255,255,255,.7);
  --tra_neg:rgba(000,000,000,.7);
  --tra_gri:rgba(125,125,125,.7);
  --tra_roj:rgba(252,040,071,.7);
  --tra_ros:rgba(251,124,253,.7);
  --tra_ama:rgba(243,243,026,.7);
  --tra_nar:rgba(255,163,067,.7);
  --tra_mar:rgba(107,059,008,.7);
  --tra_ver:rgba(007,189,025,.7);
  --tra_azu:rgba(015,076,129,.7);
  --tra_vio:rgba(116,066,200,.7);
  --tra_cel:rgba(066,189,200,.7);
}

*, :before, :after { 
  box-sizing: border-box;
}

html {
  font-family: 'Lora', 'Book Antiqua', 'Georgia';  
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  contenedores : renglon, item, valor
*/
div:is(.ren,.ite,.val){
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
div.ren {
  flex-wrap: wrap;
}
div:is(.ren,.ite) {
  flex-grow: 2;  
  align-self: stretch;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  botonera : inicio + paneles + pantallas 
*/
body > .doc_bot {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  background-color: var(--fon_sec);
}


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*
  Pantallas
*/
body > .doc_win {  
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0,0,0,.8);  
  text-align: center;
  animation: dis-ver .5s;
}
body > .doc_win > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 90vh;
  width: 95%;
  max-width: 50rem;
  overflow: hidden;  
  background-color: var(--fon_sec);
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  line-height: 1.5;
  animation: dis-ver 1s, dis-ver-tam .5s;
}
body > .doc_win > article > header {    
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  padding: .25rem;
  height: 3rem;
}
body > .doc_win > article > header + * {
  flex-grow: 2;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
}
body > .doc_win > article > header + * > section {
  margin: .5rem;  
}

/*
  Modal : Operador
*/
body > .doc_win > .ide-app_ope {
  z-index: 9999;
  height: 95vh;
  background-color: var(--fon_win);
}
body > .doc_win > .ide-app_ope > header + * {
  align-items: center;
}
body > .doc_win > .ide-app_ope > header + * > section {
  margin: .5rem;
}
/* -- Estructuras */
body > .doc_win > .ide-est {
  max-width: 60rem;
  height: 90vh;
}
body > .doc_win > .ide-est > div {
  padding: 0;
}
body > .doc_win > .ide-est > div > .app_est {
  height: 77vh;
}



/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Laterales
*/
body > aside {
  z-index: 9999;
  position: fixed;
  top: 3.9vh;
  display: flex;  
  height: 96.1vh;
  width: 450px;
  background-color: var(--fon_sec);  
}
/* 
  paneles
*/
body > aside.doc_pan {
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--col_azu);
  border-left: 0;
  border-radius: 0 1rem 1rem 0;    
  transition: all 1s;
  animation: doc_pan-ver 1s, dis-ver 1s;
}
body > aside.doc_pan.dis-ocu {  
  animation: doc_pan-ocu 1s;
  display: flex !important;
  width: 0 !important;
  height: 0 !important;   
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
@keyframes doc_pan-ver {
  from { transform: translate(-5rem); } to { transform: translate(0rem); }
}
@keyframes doc_pan-ocu {
  from { transform: translate(0rem); } to { transform: translate(-5rem); }
}
/* Contenido */
body > aside.doc_pan > [class*="ide-"] {
  width: 100%;
  animation: dis-ver 1s;
}
body > aside.doc_pan > [class*="ide-"] > header {
  display: flex;
  justify-content: space-between;  
  padding: .5rem;
  text-align: center;
}
body > aside.doc_pan > [class*="ide-"] > header + * {
  max-height: 90vh;
  overflow: auto;
}

/* 
  Panel : Menú Principal e indices 
*/
body > .doc_pan > .ide-app_cab ul.lis.nav {
  height: 85vh;
}
body > .doc_pan > .ide-app_nav ul.lis.nav {
  height: 81vh;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  sidebar
*/
body > aside.doc_bar {
  max-width: 100%;
}


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Seccion Principal
*/
body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  overflow: auto;  
  background-color: var(--fon_art);/* por barra de desplazamiento */
  padding: 0 .5rem;
  text-align: center;
}
/* Titulo */
body > main > header {
  width: 100%;
  background-color: var(--fon_sec);
}
/* Contenido */
body > main > *:not(header,footer) {
  width: 100%;
  max-width: 55rem;
  line-height: 1.5;
}
/* 
  por articulo 
*/
body > main article {
  height: max-content;
  margin: .5rem auto;
  padding: 0 1rem;
  border-radius: 1rem;
  border: 1px solid var(--bor_sel);
  background-color: var(--fon_sec);
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  pie de página
*/
body > footer.doc_pie {
  padding: .5rem;
  text-align: center;
}
