/*
  Panel:
*/

/* Menú */
.doc_pan > .ide-app_cab ul.lis.nav {
  height: 84vh;
}


/* Indice */
.doc_pan > .ide-app_nav ul.lis.nav {
  height: 80vh;
}

/*
  Modal:
*/

/* Operador */
.doc_win > .ide-app_ope {
  z-index: 9999;
  height: 95vh;
  background-color: var(--fon_win);
}
.doc_win > .ide-app_ope > header + * {
  align-items: center;
}
.doc_win > .ide-app_ope > header + * > section {
  margin: .5rem;
  padding: 0 .5rem;
}

/* Estructuras */
.doc_win > .ide-est {
  max-width: 60rem;
  height: 90vh;
}
.doc_win > .ide-est > div {
  padding: 0;
}
.doc_win > .ide-est > div > .doc_est {
  height: 77vh;
}