
/* 
campos
*/
form {
  max-height: 100%;
}

fieldset {
  border-radius: .5rem;
  border: 0;
  padding: 0;
  margin: 0;
}
fieldset > legend {
  text-align: left;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

/* 
  contenedores 
*/
form:is(.lis,.ren,.ite,.val), 
fieldset:is(.lis,.ren,.ite,.val) {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

/* horizontales */
form:is(.ren,.ite,.val), 
fieldset:is(.ren,.ite,.val) {  
  flex-flow: row wrap;
  justify-content: start;
}
form:is(.ite,.val),
fieldset:is(.ite,.val) {
  flex-wrap: nowrap;
}

form:is(.ren,.ite),
fieldset:is(.ren,.ite) {
  flex-grow: 2;
  align-self: stretch;
}

/* renglones */
fieldset:is(.ren,.ite) {
  margin: .4rem 0;
}
:is(form,fieldset) > :is(.ren,.ite) {
  justify-content: space-evenly;
  margin: .5rem .5rem;
}

/* 
Informe
*/
.inf {
  display: flex;
  flex-direction: column;
  padding: .25rem;
  border: 1px solid var(--bor_dat);
  border-radius: .5rem;
  margin: .5rem;
}
.inf:is(.ren,.ite) {
  flex-grow: 2;
  align-items: center;
}
.inf.ren {
  flex-flow: row wrap;
}
.inf.ite {
  flex-flow: row nowrap;
}

article.inf {
  margin-left: auto;
  margin-right: auto;
}
article.inf > * {
  margin: .5rem;
}

/* 
  ABM de la base
*/
form.dat {
  width: 100%;
  max-width: 40rem;
  background-color: var(--fon_nav);
  border-radius: .5rem;
  padding: 0 .5rem;   
  margin: auto;
}

form.dat :is(fieldset,div).var {
  flex-grow: 2;
  flex-direction: column;
  align-items: start;
  margin: .5rem;
}

form.dat :is(fieldset,div).var label[for] {
  margin: 0;
  color: var(--let_ide);
  padding: .5rem;
}

form.dat :is(fieldset,div).var select,
form.dat :is(fieldset,div).var textarea,
form.dat :is(fieldset,div).var input:not([type='checkbox']):not([type='radio']) {
  width: 100%; width:-webkit-fill-available; width:-moz-available;  
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
}
