
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  botonera : inicio + paneles + pantallas 
*/
header.doc_bot {
  display: flex;
  height: var(--tam_cab_max);
  justify-content: space-between;
  background-color: var(--fon_win);
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Seccion Principal
*/
main {
  height: var(--tam_sec_max);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;  
  background-color: var(--fon_art);/* por barra de desplazamiento */
  text-align: center;
}

/* Titulo */
main > header {
  width: 100%;
  background-color: var(--fon_sec);  
}

/* Articulos */
main article {
  width: 100%;
  max-width: 700px;
  height: max-content;
  margin: .5rem auto;
  padding: 0 1rem;
  border-radius: 1rem;
  border: 1px solid var(--bor_sel);
  background-color: var(--fon_sec);
}

article > p,
article section > p {
  margin-bottom: .5rem;
}
article > ul.lis,
article section > ul.lis {
  margin: .5rem auto;
  /* max-width: fit-content;   */
}
article > figure,
article section > figure {
  margin: 1rem auto;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Laterales
*/
aside:is(.doc_pan,.doc_bar) {  
  z-index: 9999;
  position: fixed;
  top: var(--tam_cab_max);
  display: flex;
  height: var(--tam_sec_max);
  width: 450px;
  background-color: var(--fon_sec);
}

/* 
  izquierda: panel movil 
*/
@keyframes doc_pan-ver {
  from { transform: translate(-5rem); } to { transform: translate(0rem); }
}
@keyframes doc_pan-ocu {
  from { transform: translate(0rem); } to { transform: translate(-5rem); }
}
aside.doc_pan {
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--col_azu);
  border-left: 0;
  border-radius: 0 1rem 1rem 0;    
  transition: all 1s;
  animation: doc_pan-ver 1s, dis-ver 1s;
}
aside.doc_pan.dis-ocu {  
  animation: doc_pan-ocu 1s;
  display: flex !important;
  width: 0 !important;
  height: 0 !important;   
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
aside.doc_pan > [class*="ide-"] {
  width: 100%;
  animation: dis-ver 1s;
}
aside.doc_pan > [class*="ide-"] > header {
  display: flex;
  justify-content: space-between;  
  padding: .5rem;
  text-align: center;
}
aside.doc_pan > [class*="ide-"] > header + * {
  max-height: 90vh;
  overflow: auto;
}
/* Menú */
aside.doc_pan > .ide-app_cab ul.lis.nav {
  height: 84vh;
}
/* Indice */
aside.doc_pan > .ide-app_nav ul.lis.nav {
  height: 80vh;
}

/* 
  derecha: sidebar 
*/
@keyframes doc_bar-ver {
  from { transform: translate(0rem); } to { transform: translate(-5rem); }
}
@keyframes doc_bar-ocu {
  from { transform: translate(-5rem); } to { transform: translate(0rem); }
}
aside.doc_bar {
  max-width: 100%;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  pie de página
*/
footer.doc_pie {
  padding: .5rem;
  text-align: center;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Tamaños 
*/
@media only screen and ( orientation: landscape )
  and ( max-width: 400px ) 
  and ( max-height: 400px )
{
  header.doc_bot {
    height: var(--tam_cab_min);
  }
  aside:is(.doc_pan,.doc_bar) {
    top: var(--tam_cab_min);
    height: var(--tam_sec_min);
  }
  main {
    height: var(--tam_sec_min);
  }
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*
  Modales
*/
div.doc_win {  
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0,0,0,.8);  
  text-align: center;
  animation: dis-ver .5s;
}
div.doc_win > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 90vh;
  width: 95%;
  max-width: 50rem;
  overflow: hidden;  
  background-color: var(--fon_sec);
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  line-height: 1.5;
  animation: dis-ver 1s, dis-ver-tam .5s;
}
div.doc_win > article > header {    
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  padding: .25rem;
  height: 3rem;
}
div.doc_win > article > header + * {
  flex-grow: 2;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
}
div.doc_win > article > header + * > section {
  margin: .5rem;  
}

/*
  Modal : Operador
*/
div.doc_win > .ide-doc_ope {
  z-index: 9999;
  height: 95vh;
  background-color: var(--fon_win);
}
div.doc_win > .ide-doc_ope > header + * {
  align-items: center;
}
div.doc_win > .ide-doc_ope > header + * > section {
  margin: .5rem;
  padding: 0 .5rem;
}

/* -- Estructuras */
div.doc_win > .ide-est {
  max-width: 60rem;
  height: 90vh;
}
div.doc_win > .ide-est > div {
  padding: 0;
}
div.doc_win > .ide-est > div > .app_est {
  height: 77vh;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Contenido
*/
.doc_ren,
.doc_ite,
.doc_val,
.doc_ope {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-items: center;
}

.doc_val {
  width: -moz-fit-content;
  width: fit-content;
}

/* Renglón y Línea */
:is(.doc_ren, .doc_ite){
  align-items: center;
  flex-grow: 2;
}
.doc_ren {
  flex-wrap: wrap;
}
:is(.doc_ren,.doc_ite) {
  flex-grow: 2;  
  align-self: stretch;
}

/* Bloque */
.doc_ite > .fig_ico.ide-val_tog {
  text-shadow: 0 0 5px;
}
.doc_ite > .fig_ico.ide-val_tog.ocu {
  transform: rotate(270deg);
}

/* Botones : .doc_ope > a/button/span */
.doc_ope {  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}
.doc_ope.dir-ver > * {
  margin: .2rem 0;
}
.doc_ope:not(.dir-ver) > * {
  margin: 0 .3rem;
}

/* 
  Informe 
*/
.doc_inf {
  display: flex;
  flex-direction: column;
  padding: .25rem;
  border: 1px solid var(--bor_sec);
  border-radius: .5rem;
  margin: .5rem;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Cartel textual
*/
.doc_tex {
  max-width: max-content;
  background-color: var(--fon_sec);
  padding: .5rem;
  border: 2px dashed var(--let_ico);
  border-radius: .5rem;
  box-shadow: 0 0 5px;
  margin: 1rem auto;
}
.doc_tex > header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Navegadores
*/

/* por Contenido */
nav.doc_nav:is(.pes,.bar,.ope) {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}
nav.doc_nav:is(.pes,.bar) > a:not(.fig_ico) {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  font-size: medium;
  color: var(--let_tex);
  margin: auto;
}
nav.doc_nav:is(.bar,.pes) > a:hover{
  background-color: var(--fon_foc);  
}

/* Contenedor */
nav.doc_nav:is(.pes,.bar,.ope) + :is(div,section) {
  overflow: auto;
  margin: 0 .5rem;
}
nav.doc_nav:is(.pes,.bar,.ope) + :is(div,section) > [class*="ide-"] {
  animation: dis-ver 1s;
}

/* por Barra */
nav.doc_nav.bar {
  justify-content: space-around;
}
nav.doc_nav.bar > a:not(.fig_ico) {
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-style: italic;
}

/* por Pestañas */
nav.doc_nav.pes {
  margin: 0 .5rem;
}
nav.doc_nav.pes > a:not(.fig_ico) {    
  min-height: 3rem;
  border-radius: 1rem 1rem 0 0;
  text-decoration: none;  
  font-style: normal;
}
nav.doc_nav.pes > a,
nav.doc_nav.pes + * {
  background-color: var(--fon_art);
  border: 1px solid var(--bor_art);
}
nav.doc_nav.pes + * {  
  border-radius: 0 0 .5rem .5rem;
  border-top: 0;
}

/* 
  por operadores 
*/
nav.doc_nav.ope + :is(div,section) {
  z-index: 900;
  position: absolute;
  width: 100%;
  max-height: 80vh; 
  background-color: var(--fon_win);
  padding: 1rem;
  margin: 0;
}

