
/* 
  Contenido
*/
.doc_ren,
.doc_ite,
.doc_val,
.doc_ope {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-items: center;
}

.doc_val {
  width: -moz-fit-content;
  width: fit-content;
}

/* Renglón y Línea */
:is(.doc_ren, .doc_ite){
  align-items: center;
  flex-grow: 2;
}
.doc_ren {
  flex-wrap: wrap;
}
:is(.doc_ren,.doc_ite) {
  flex-grow: 2;  
  align-self: stretch;
}

/* Bloque */
.doc_ite > .fig_ico.ide-val_tog {
  text-shadow: 0 0 5px;
}
.doc_ite > .fig_ico.ide-val_tog.ocu {
  transform: rotate(270deg);
}

/* Botones : .doc_ope > a/button/span */
.doc_ope {  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}
.doc_ope.dir-ver > * {
  margin: .2rem 0;
}
.doc_ope:not(.dir-ver) > * {
  margin: 0 .3rem;
}

/* 
  Informe 
*/
.doc_inf {
  display: flex;
  flex-direction: column;
  padding: .25rem;
  border: 1px solid var(--bor_sec);
  border-radius: .5rem;
  margin: .5rem;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Cartel textual
*/
.doc_tex {
  max-width: max-content;
  background-color: var(--fon_sec);
  padding: .5rem;
  border: 2px dashed var(--let_ico);
  border-radius: .5rem;
  box-shadow: 0 0 5px;
  margin: 1rem auto;
}
.doc_tex > header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Navegadores
*/

/* por Contenido */
nav.doc_nav:is(.pes,.bar,.ope) {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}
nav.doc_nav:is(.pes,.bar) > a:not(.fig_ico) {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  font-size: medium;
  color: var(--let_tex);
  margin: auto;
}
nav.doc_nav:is(.bar,.pes) > a:hover{
  background-color: var(--fon_foc);  
}

/* Contenedor */
nav.doc_nav:is(.pes,.bar,.ope) + :is(div,section) {
  overflow: auto;
  margin: 0 .5rem;
}
nav.doc_nav:is(.pes,.bar,.ope) + :is(div,section) > [class*="ide-"] {
  animation: dis-ver 1s;
}

/* por Barra */
nav.doc_nav.bar {
  justify-content: space-around;
}
nav.doc_nav.bar > a:not(.fig_ico) {
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-style: italic;
}

/* por Pestañas */
nav.doc_nav.pes {
  margin: 0 .5rem;
}
nav.doc_nav.pes > a:not(.fig_ico) {    
  min-height: 3rem;
  border-radius: 1rem 1rem 0 0;
  text-decoration: none;  
  font-style: normal;
}
nav.doc_nav.pes > a,
nav.doc_nav.pes + * {
  background-color: var(--fon_art);
  border: 1px solid var(--bor_art);
}
nav.doc_nav.pes + * {  
  border-radius: 0 0 .5rem .5rem;
  border-top: 0;
}

/* 
  por operadores 
*/
nav.doc_nav.ope + :is(div,section) {
  z-index: 900;
  position: absolute;
  width: 100%;
  max-height: 80vh; 
  background-color: var(--fon_sec);
  padding: 1rem;
  margin: 0;
  border-top: 1px solid var(--bor_art);
  border-bottom: 1px solid var(--bor_art);
}


/* 
campos
*/
form {
  max-height: 100%;
}
fieldset {
  border-radius: .5rem;
  border: 0;
  padding: 0;
  margin: 0;
}
legend {
  display: flex;  
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  padding: .3rem 1rem;
  border-radius: .8rem;
  border: 1px solid var(--bor_sec);
  font-size: medium;
  text-align: left;
}

/* 
  Operadores
*/
fieldset.doc_inf {
  margin: .25rem .5rem .75rem;
}
:is(form,fieldset) > :is(.doc_ren,.doc_ite) {
  justify-content: space-evenly;  
}
:is(form,fieldset) > div:is(.doc_ren,.doc_ite) {
  margin: .25rem;
}

/* 
variable > label + input
*/
form .dat_var {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: .25rem;
}

/* 
  Etiquetas
*/
label[for] {
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0 .25rem;
  cursor: pointer;
}

/* 
  Control 
*/
input, 
textarea,
select,
datalist,
button {
  background-color: var(--fon_art);
  padding: .2rem;
  border: 1px solid var(--col_azu);
  border-radius: .5rem;
  font-family: var(--tex);
  color: var(--let_tex);
}

/* Focos */
:is(input,select,button:not(.fig_ico)):focus {
  background-color: var(--tra_azu);
}
:is(input,select,textarea):focus {
  outline: none;
}

/* Acciones */

/* Tamaños */
input:is([type="text"]) {
  width: 100%;
  max-width: 70vw;
}
input[maxlength='1'] { width: 2.5rem; }
input[maxlength='2'] { width: 3rem; }
input[maxlength='3'] { width: 3.5rem; }
input[maxlength='4'] { width: 4rem; }
input[maxlength='5'] { width: 4.5rem; }
input[maxlength='6'] { width: 5rem; }
input[maxlength='7'] { width: 5.5rem; }
input[maxlength='8'] { width: 6rem; }
input[maxlength='9'] { width: 6.5rem; }
input[maxlength='10']{ width: 7rem; }
input[maxlength='11']{ width: 7.5rem; }
input[maxlength='12']{ width: 8rem; }
input[maxlength='13']{ width: 8.5rem; }
input[maxlength='14']{ width: 9rem; }
input[maxlength='15']{ width: 9.5rem; }
input[maxlength='16']{ width: 10rem; }
input[maxlength='17']{ width: 10.5rem; }
input[maxlength='18']{ width: 11rem; }
input[maxlength='19']{ width: 11.5rem; }
input[maxlength='20']{ width: 12rem; }
input[maxlength='25']{ width: 15rem; }
