/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Contenido
*/
div.doc_val {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
div.doc_val > .fig_ico.val_tog {
  text-shadow: 0 0 5px;
}
div.doc_val > .fig_ico.val_tog.ocu {
  transform: rotate(270deg);
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  textual
*/
div.doc_tex {
  max-width: 55rem;
  margin: .5rem auto;
  padding: .5rem 1rem;
  background-color: var(--fon_sec);
  border: 2px dashed var(--col_azu);
  border-radius: .5rem;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/


/* por Contenido */
nav.doc_nav:is(.pes,.bar,.ope) {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}
nav.doc_nav:is(.pes,.bar) > a:not(.fig_ico) {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  font-size: medium;
  color: var(--let_tex);
  margin: auto;
}
nav.doc_nav:is(.bar,.pes) > a:hover{
  background-color: var(--fon_foc);  
}

/* Contenedor */
nav.doc_nav:is(.pes,.bar,.ope) + :is(div,section) {
  overflow: auto;
  margin: 0 .5rem;
}
nav.doc_nav:is(.pes,.bar,.ope) + :is(div,section) > [class*="ide-"] {
  animation: dis-ver 1s;
}

/* por Barra */
nav.doc_nav.bar {
  justify-content: space-around;
}
nav.doc_nav.bar > a:not(.fig_ico) {
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-style: italic;
}

/* por Pestañas */
nav.doc_nav.pes {
  margin: 0 .5rem;
}
nav.doc_nav.pes > a:not(.fig_ico) {    
  min-height: 3rem;
  border-radius: 1rem 1rem 0 0;
  text-decoration: none;  
  font-style: normal;
}
nav.doc_nav.pes > a,
nav.doc_nav.pes + * {
  background-color: var(--fon_art);
  border: 1px solid var(--bor_val);
}
nav.doc_nav.pes + * {  
  border-radius: 0 0 .5rem .5rem;
  border-top: 0;
}

/* por operadores */
nav.doc_nav.ope + :is(div,section) {
  z-index: 900;
  position: absolute;
  top: 5.5rem;
  width: 100%;
  max-height: 70vh;  
  background-color: var(--fon_sec);
  padding: .25rem .5rem;
  border: 1px solid var(--col_azu);
  margin: 0;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Operadores-Botones : fieldset.ope > button + nav.ope > a + div.ope > span/button
*/
:is(ul,nav,form,fieldset).doc_ope {  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: fit-content;
  margin: 0;
  padding: 0;
}
:is(ul,nav,fieldset).doc_ope:not(.dir-ver) > .fig_ico {
  margin: 0 .3rem;
}
:is(ul,nav,fieldset).doc_ope.dir-ver > .fig_ico {
  margin: .2rem 0;
}

