/* 
  Estructura
*/

div.est {  
  width: 100%;
  overflow: auto;
  padding: 0 .5rem;
}

div.est > table {
  margin: 0 auto;
  line-height: 1.3;
  text-align: center;  
}

/* 
  Cabecera 
*/
div.est > table > thead {
  position: sticky;
  top: 0;
  background-color: var(--fon_win);
}

div.est > table > thead > tr > th > p {
  color: var(--let_ide);
  padding: .5rem;
}

div.est > table > thead > tr:not(.gru) > th,
div.est > table > tbody > tr:not([data-ope],[data-opc]) > td {
  border-right: 1px dotted var(--bor_dat);
}

/* 
  titulo + detalle 
*/
div.est > table > tbody > tr:is([data-opc="tit"],[data-opc="det"]) {
  text-align: left;
  line-height: 1.5;
}
div.est > table > tbody > tr[data-opc="tit"] > td {
  padding: 0 .5rem;
}
div.est > table > tbody > tr[data-ope="lec"][data-opc="det"] > td {
  padding-top: .25rem;
}