
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  ABM de la base
*/
form.dat {
  width: 100%;
  max-width: 500px;
  background-color: var(--fon_nav);
  border-radius: 10%;
  padding: 0 .5rem;   
  margin: auto;
}

form.dat :is(fieldset,div).dat_var {
  flex-grow: 2;
  flex-direction: column;
  align-items: start;
  margin: .5rem;
}

form.dat :is(fieldset,div).dat_var label[for] {
  color: var(--let_ide);
  padding: .5rem;
  margin: 0;
}

form.dat :is(fieldset,div).dat_var select,
form.dat :is(fieldset,div).dat_var textarea,
form.dat :is(fieldset,div).dat_var input:not([type='checkbox']):not([type='radio']) {
  width: 100%;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*  
  Tabla
*/
table {
  /* width: 100%; */
  border-collapse: separate; /* espaciado aplica cuando el collapse es separate // not:: collapse: collapse */  
  border-spacing: .2rem .1rem; /* => horizontal-izquierda vertical-superior */
  padding-bottom: 1rem;
}
table th {
  color: var(--let_ide);
  max-width: fit-content;
}
table th > p {
  margin: auto;
}

/* 
  Estructura
*/
div.est.lis {
  width: 100%;
  overflow: auto;
  padding: 0 .5rem;
  margin: 1rem auto;
}
/* por revalsamiento en articulos */
main article div.est.lis {
  max-width: 90vw;
}

div.est.lis > table {
  /* width: max-content; */
  margin: 0 auto;
  line-height: 1.25;
  text-align: center;  
}

/* Cabecera */
div.est.lis > table > thead {
  position: sticky;
  top: 0;
  background-color: var(--fon_win);
}
div.est.lis > table > thead > tr > th > p.ide {
  padding: .5rem;
  max-width: min-content;
}
div.est.lis > table > thead > tr:not(.gru) > th,
div.est.lis > table > tbody > tr:not([data-ope],[data-opc]) > td {
  border-right: 1px dotted var(--bor_sec);
}

/* titulo + detalle */
div.est.lis > table > tbody > tr:is([data-opc="tit"],[data-opc="det"]) {
  text-align: left;
  line-height: 1.5;
}
div.est.lis > table > tbody > tr[data-opc="tit"] > td {
  padding: 0 .5rem;
}
div.est.lis > table > tbody > tr[data-ope="lec"][data-opc="det"] > td {
  padding-top: .25rem;
}

/* datos */
div.est.lis > table > tbody > tr > td > :is(n,time,p) {
  font-size: .9rem;  
}
div.est.lis > table > tbody > tr > td > p {
  text-align: left;
}
div.est.lis > table > tbody > tr > td > :is(n,time) {
  font-size: .9rem;
  text-align: right;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Tablero
*/
ul.est.tab {
  list-style: none;
  display: grid;
  align-items: center;
  justify-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

table.est.tab {
  border-collapse: collapse;
  padding: 0;
}

:is(ul,table).est.tab {
  min-width: max-content;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;  
  text-align: center;
  font-size: .7rem;
  transition: background 1s, border 1s;  
}
:is(ul,table).est.tab.bor-1 {
  border-color: var(--bor_sec);
  box-shadow: 0 0 .5rem var(--bor_sec);
}

/* posiciones y secciones */
.est.tab > :is(.sec,.pos) {
  width: 100%;
  height: 100%;
}
:is(ul,table).est.tab .pos,
:is(ul,table).est.tab .sec {  
  justify-self: center;
  align-self: center;
  margin: 0;
  transition: background 1s, border 1s;
}
:is(ul,table).est.tab .pos[class*="fon_col-"] {
  box-shadow: 0 0 .5rem black;
}

/* secciones */

/* fondos: imagen + color */
.est.tab > .sec.fon { 
  z-index: 0;
  grid-column: 1/sp; 
  grid-row: 1/sp;  
}
/* bordes y lineas*/
.est.tab > .sec.bor {
  z-index: 1;
  border-width: 2px;
  border-style: double;
  border-color: var(--col_ver);
  border-radius: 10%;
  box-shadow: 0 0 .5rem var(--let_ico);
}
/* fichas e imagenes */
.est.tab > .sec.ima {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

/* posiciones */
ul.est.tab > li.pos {
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center; 
  justify-content: center;
}

/* Bordes */
:is(ul,table).est.tab .pos.bor-1 {
  border-color: #008000;
  box-shadow: 0 0 .3rem var(--let_ico);
}
/* - Operador */
:is(ul,table).est.tab .pos:is(._val-pos-bor,._val-ver-bor) {
  border: 1px double #991d99;
}

/* Efectos */
:is(ul,table).est.tab .pos.ope[onclick]:hover {
  background-color: var(--tra_ros);
  box-shadow: 0 0 .35rem var(--tra_vio);
  color: black;
}

/* Fichas de Imágenes */
:is(ul,table).est.tab :is(.sec,.pos) > .fig_ima {
  min-width: 100%;
  height: 100%;
}
:is(ul,table).est.tab td:is(.sec,.pos) > .fig_ima {
  min-height: 100%;
}

/* Textos */
:is(ul,table).est.tab :is(.sec,.pos) > p {
  text-align: center;
}