
/* 
  Colores
*/
input[type='color']{
  width: 2rem;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Imágenes 
*/
img {  
  max-width: 100%;
  height: auto;
}

.fig_ima {
  display: inline-block;
  min-width: 2.5rem;
  height: 2.5rem;  
  padding: 0;
  border: 0;
  margin: 0;
}
.fig_ima.tam-1  { min-width: 1.25rem;   height: 1.25rem; }
.fig_ima.tam-2  { min-width: 1.5rem;    height: 1.5rem; }
.fig_ima.tam-3  { min-width: 1.75rem;   height: 1.75rem; }
.fig_ima.tam-4  { min-width: 2rem;      height: 2rem; }
.fig_ima.tam-5  { min-width: 2.25rem;   height: 2.25rem; }
.fig_ima.tam-6  { min-width: 2.5rem;    height: 2.5rem; }
.fig_ima.tam-7  { min-width: 3rem;      height: 3rem; }
.fig_ima.tam-8  { min-width: 3.5rem;    height: 3.5rem; }
.fig_ima.tam-9  { min-width: 4rem;      height: 4rem; }
.fig_ima.tam-10 { min-width: 4.5rem;    height: 4.5rem; }
.fig_ima.tam-11 { min-width: 5rem;      height: 5rem; }
.fig_ima.tam-12 { min-width: 5.5rem;    height: 5.5rem; }
.fig_ima.tam-13 { min-width: 6rem;      height: 6rem; }
.fig_ima.tam-14 { min-width: 6.5rem;    height: 6.5rem; }
.fig_ima.tam-15 { min-width: 7rem;      height: 7rem; }
.fig_ima.tam-16 { min-width: 7.5rem;    height: 7.5rem; }


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/* 
  Iconos
*/
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url("../_img/app/ico.woff2") format('woff2');
}

/* estilo principal */
.fig_ico {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: 'liga'; */
  -webkit-font-smoothing: antialiased;
  /* propios */
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 1.4rem;
  background-color: var(--col_tra);
  color: var(--let_ico);
  text-decoration: none;  
}

.fig_ico:is([href],[onclick]):hover {
  text-shadow: 0 0 5px;
}