
/* 
  Listados 
*/
dl, ul, ol {  
  text-align: left;
  margin: .5rem 0;
}

/* 
  Posiciones
*/
ul, ol {
  padding-left: 1rem;
}

ol.ite-let {
  list-style-type: lower-latin;
}
ol.ite-rom {
  list-style-type: lower-roman;
}
ol.ite-let_may {
  list-style-type: upper-latin;
}
ol.ite-rom_may {
  list-style-type: upper-roman;
}

ul.ite-pun {
  list-style: disc;
}
ul.ite-cir {
  list-style: circle;
}
ul.ite-cua {
  list-style: square;
}

/* 
  item horizontal
*/
ul.ite > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: .2rem 0;
}

/*  
  de enlaces
*/
nav.lis {
  display: flex;
  flex-direction: column;
  align-items: start;
}
nav.lis > :is(p,a) {
  padding-left: .5rem;
  margin: .5rem;
}

/* de términos */
dl dt {
  margin-top: .5rem;
}
dl dd { 
  margin-left: 1rem;  
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
Base
*/
ul.lis {
  list-style: none;  
  padding: 0;
}
/* 
  horizontal
*/
ul.lis.val {
  display: flex;
  flex-wrap: nowrap;
  max-width: fit-content;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* 
Barra: con desplazamiento
*/
ul.lis.bar {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}
ul.lis.bar > li {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
  Indices
*/
ul.lis.nav a {
  display: inline-block;
  overflow: auto;
  width: 100%;
  text-decoration: none;
  color: var(--let_tex);
}
ul.lis.nav li.pos.sep,
ul.lis.nav li.pos:not(.sep) > .app_val {
  margin-top: .1rem;
  margin-bottom: .1rem;
  padding: .25rem;
}
ul.lis.nav li.pos.sep:hover,  
ul.lis.nav li.pos:not(.sep) > .app_val:hover {
  background-color: var(--fon_foc);
  border-radius: .25rem;
}

/* 
Dependencias: con sublistas
*/
ul.lis.dep {
  overflow: auto;
  padding-bottom: 1rem;
}
ul.lis.dep ul.lis {    
  padding-left: 1rem;
  padding-bottom: .25rem;
  margin: 0;
}
ul.lis.dep li > .app_val {
  border-radius: .2rem;
  margin: .25rem 0;
}
ul.lis.dep:not(.dir-hor) li.sep  {
  margin-left: 1.5rem;
}