
/* 
  Listados 
*/
dl, ul, ol {  
  text-align: left;
  margin: .5rem 0;
}

/* 
  Posiciones
*/
ul, ol {
  padding-left: 1rem;
}

ol.ite-let {
  list-style-type: lower-latin;
}
ol.ite-rom {
  list-style-type: lower-roman;
}
ol.ite-let_may {
  list-style-type: upper-latin;
}
ol.ite-rom_may {
  list-style-type: upper-roman;
}

ul.ite-pun {
  list-style: disc;
}
ul.ite-cir {
  list-style: circle;
}
ul.ite-cua {
  list-style: square;
}

/* 
  item horizontal
*/
ul.ite > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: .2rem 0;
}

/*  
  de enlaces
*/
nav.lis {
  display: flex;
  flex-direction: column;
  align-items: start;
}
nav.lis > :is(p,a) {
  padding-left: .5rem;
  margin: .5rem;
}

/* de términos */
dl dt {
  margin-top: .5rem;
}
dl dd { 
  margin-left: 1rem;  
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
Base
*/
ul.lis {
  list-style: none;  
  padding: 0;
}
/* 
  horizontal
*/
ul.lis.val {
  display: flex;
  flex-wrap: nowrap;
  max-width: fit-content;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* 
Dependencias: con sublistas
*/
ul.lis.dep {
  overflow: auto;
  padding-bottom: 1rem;
}
ul.lis.dep ul.lis {    
  padding-left: 1rem;
  padding-bottom: .25rem;
  margin: 0;
}
ul.lis.dep li > .doc_ite {
  border-radius: .2rem;
  margin: .25rem 0;
}
ul.lis.dep:not(.dir-hor) li.sep  {
  margin-left: 1.5rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Indices
*/
ul.lis.nav a {
  display: inline-block;
  overflow: auto;
  width: 100%;
  text-decoration: none;
  color: var(--let_tex);
}
ul.lis.nav li.pos.sep,
ul.lis.nav li.pos:not(.sep) > div.doc_ite {
  margin-top: .1rem;
  margin-bottom: .1rem;
  padding: .25rem;
}
ul.lis.nav li.pos.sep:hover,  
ul.lis.nav li.pos:not(.sep) > div.doc_ite:hover {
  background-color: var(--fon_foc);
  border-radius: .25rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
Barra: con desplazamiento
*/
ul.lis.bar {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}
ul.lis.bar > li {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*  
  Tabla
*/
table {
  /* width: 100%; */
  border-collapse: separate; /* espaciado aplica cuando el collapse es separate // not:: collapse: collapse */  
  border-spacing: .2rem .1rem; /* => horizontal-izquierda vertical-superior */
  padding-bottom: 1rem;
}
table th {
  color: var(--let_ide);
  max-width: fit-content;
}
table th > p {
  margin: auto;
}

/* 
  Estructura
*/
div.lis.est {
  width: 100%;
  overflow: auto;
  padding: 0 .5rem;
  margin: 1rem auto;
}
/* por revalsamiento en articulos */
.doc_sec article div.lis.est {
  max-width: 90vw;
}

div.lis.est > table {
  /* width: max-content; */
  margin: 0 auto;
  line-height: 1.25;
  text-align: center;  
}

/* Cabecera */
div.lis.est > table > thead {
  position: sticky;
  top: 0;
  background-color: var(--fon_win);
}
div.lis.est > table > thead > tr > th > p.ide {
  padding: .5rem;
  max-width: min-content;
}
div.lis.est > table > thead > tr:not(.gru) > th,
div.lis.est > table > tbody > tr:not([data-ope],[data-opc]) > td {
  border-right: 1px dotted var(--bor_sec);
}

/* titulo + detalle */
div.lis.est > table > tbody > tr:is([data-opc="tit"],[data-opc="det"]) {
  text-align: left;
  line-height: 1.5;
}
div.lis.est > table > tbody > tr[data-opc="tit"] > td {
  padding: 0 .5rem;
}
div.lis.est > table > tbody > tr[data-ope="lec"][data-opc="det"] > td {
  padding-top: .25rem;
}

/* datos */
div.lis.est > table > tbody > tr > td > :is(n,time,p) {
  font-size: .9rem;  
}
div.lis.est > table > tbody > tr > td > p {
  text-align: left;
}
div.lis.est > table > tbody > tr > td > :is(n,time) {
  font-size: .9rem;
  text-align: right;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Tablero
*/
ul.lis.tab {
  display: grid;
  align-items: center;
  justify-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

table.lis.tab {
  border-collapse: collapse;
  padding: 0;
}

:is(ul,table).lis.tab {
  min-width: max-content;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;  
  text-align: center;
  font-size: .7rem;
  transition: background 1s, border 1s;  
}
:is(ul,table).lis.tab.bor-1 {
  border-color: var(--bor_sec) !important;
  box-shadow: 0 0 .5rem var(--bor_sec) !important;
}

/* posiciones y secciones */
.lis.tab > :is(.sec,.pos) {
  width: 100%;
  height: 100%;
}
:is(ul,table).lis.tab .pos,
:is(ul,table).lis.tab .sec {  
  justify-self: center;
  align-self: center;
  margin: 0;
  transition: background 1s, border 1s;
}
:is(ul,table).lis.tab .pos[class*="fon_col-"] {
  box-shadow: 0 0 .5rem black;
}

/* secciones */

/* fondos: imagen + color */
.lis.tab > .sec.fon { 
  z-index: 0;
  grid-column: 1/sp; 
  grid-row: 1/sp;  
}
/* bordes y lineas*/
.lis.tab > .sec.bor {
  z-index: 1;
  border-width: 2px;
  border-style: double;
  border-color: var(--col_ver);
  border-radius: 10%;
  box-shadow: 0 0 .5rem var(--let_ico);
}
/* fichas e imagenes */
.lis.tab > .sec.ima {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

/* posiciones */
ul.lis.tab > li.pos {
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center; 
  justify-content: center;
}

/* Bordes */
:is(ul,table).lis.tab .pos.bor-1 {
  border-color: #008000;
  box-shadow: 0 0 .3rem var(--let_ico);
}/* - Operador */
:is(ul,table).lis.tab .pos[class*="_val-"][class*="_bor"] {
  border: 2px double #991d99;
}

/* Efectos */
:is(ul,table).lis.tab .pos.ope[onclick]:hover {
  background-color: var(--tra_ros);
  box-shadow: 0 0 .35rem var(--tra_vio);
  color: black;
}

/* Fichas de Imágenes */
:is(ul,table).lis.tab :is(.sec,.pos) > .fig_ima {
  min-width: 100%;
  height: 100%;
}
:is(ul,table).lis.tab td:is(.sec,.pos) > .fig_ima {
  min-height: 100%;
}

/* Textos */
:is(ul,table).lis.tab :is(.sec,.pos) > p {
  text-align: center;
}