/* 
 números
*/

div.num {
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  align-content: center;
}

input[type='number'] {
  color: var(--let_num);
}

/* 
  rangos 
*/
input[type='range'],
input[type='range']::-ms-thumb {  
  -webkit-appearance: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--let_num);
  border:0;
  padding: 0;
  margin: 0;
}
input[type='range']::-moz-range-track, 
input[type='range']::-moz-range-progress, 
input[type='range']::-webkit-slider-runnable-track {  
  height: .5rem;
  border-radius: 5rem;
  background-color: blueviolet;
}
input[type='range']::-moz-range-thumb, 
input[type='range']::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  background-color: darkslateblue;
}
input[type='range']::-moz-range-progress {  
  background-color: #2a09cc;
}