/* 
  Opciones
*/
input:is([type='radio'], [type='checkbox']) {
  cursor: pointer;
}

select, 
datalist,
option, 
optgroup {
  cursor: pointer;  
  font-family: var(--tex);
  color: var(--let_tex);
}
optgroup {
  color: var(--let_opc);
}

select.num {
  color: var(--let_num);
}

input[type='color']{
  width: 2rem;
}
