/* 
 Textos
*/

/* letra */
c {
  display: inline;  
  font-weight: bold; 
  color: var(--let_ope);
  text-shadow: 0 0 5px;  
}
c.sep { 
  margin: .3rem;
}

.let-ide { 
  color: var(--let_ide); 
}
.let-val { 
  color: var(--let_val); 
}
.let-err { 
  color: var(--let_err); 
}


/* cita */
cite {
  font-style: italic;
}
q, blockquote { 
  quotes: "\"" "\"" "'" "'";
}
:is(q,blockquote)::after, 
:is(q,blockquote)::before {
  color: var(--let_ope);
  text-shadow: 0 0 5px;
}

dfn, /* Definiciones */
abbr, /* Abreviaturas */
dt /* Términos */
{ 
  color: var(--let_ide); 
}

/* separador */
hr{   
  margin: 2rem;
}

/* titulo */
h1, h2, h3, h4, h5, h6 {
  margin: .5rem 0;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
h1 { font-size: 1.30rem; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1.20rem; }
h4 { font-size: 1.15rem; }
h5 { font-size: 1.10rem; }
h6 { font-size: 1.05rem; }

/* párrafos */
p {
  margin: 0;
}
p.cit {
  margin: .75rem auto;
  font-style: italic;
}
p.tit {
  margin-top: .5rem;
  text-decoration: underline; 
  font-weight: bold; 
  font-style: italic;
}
p.des {
  font-style: italic;
}

/* 
  controladores
*/
textarea {
  padding: .6rem;
  resize: vertical;
}

/* 
  Artículos de la Seccion Principal
*/
main article > h2 {
  margin-bottom: 1rem;
}
main article section > :is(h3,h4,h5,h6) {
  margin: 1rem 0;
  margin-top: 1.5rem;
}

main article > p,
main article section > p {
  margin-bottom: .5rem;
  line-height: 1.5;
}
main article > ul.lis,
main article section > ul.lis {
  margin: .5rem auto;
  max-width: fit-content;
}
main article > figure,
main article section > figure {
  margin: 1rem auto;
}

